{% macro render_latest_news(posts) %}
    <h2><a href="{{ url_for('news.view_posts') }}">Latest News</a></h2>

    {% if posts %}
        {% for post in posts %}
            <h3><a href="{{ url_for('news.view_post', post_id=post.id) }}">{{ post.title }}</a> <small>{{ post.published | strftime('%d %b %Y') }}</small></h3>

            <div class="latest-news-body">
                {{ post.body | markdown }}
            </div>
        {% endfor %}

        <p><a href="{{ url_for('news.view_posts') }}">More News</a> <span class="glyphicon glyphicon-chevron-right"></span></p>
    {% else %}
        <p>No news yet.</p>
    {% endif %}
{% endmacro %}
