<!DOCTYPE html>
<html ng-app="radar" ng-controller="AppController">
<head>
  <title>RaDaR</title>

  <!-- build:css(.) css/vendor.css -->
  <!-- vendor:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) css/app.css -->
  <!-- app:css -->
  <!-- endinject -->
  <!-- endbuild -->

  <!--[if lt IE 9]>
    <!-- build:js(.) js/ie.js -->
    <!-- ie:js -->
    <!-- endinject -->
    <!-- endbuild -->
  <![endif]-->
</head>

<body>
  <div navbar></div>

  <div ng-if="ready">
    <div class="ui-view"></div>
  </div>

  <div ng-if="!ready" class="content">
    <div class="well"><strong>Loading <i class="fa fa-spinner"></i></strong></div>
  </div>

  <!--[if lte IE 9]>
    <div class="content">
      <div class="alert alert-danger">
        <strong>Warning!</strong> You are using an old version of Internet Explorer. RaDaR works best in modern
        browsers such as <a href="http://www.google.com/chrome/">Google Chrome</a> or
        <a href="https://www.mozilla.org/firefox/">Mozilla Firefox</a>.
      </div>
    </div>
  <![endif]-->

  <div class="footer">
    <p>&copy; <a href="http://www.renalreg.org">UK Renal Registry</a>, <a href="http://www.renal.org">The Renal Association</a></p>
  </div>

  <!-- build:js(.) js/vendor.js -->
  <!-- vendor:js -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/templates,src}) js/app.js -->
  <!-- app:js -->
  <!-- endinject -->

  <!-- templates:js -->
  <!-- endinject -->
  <!-- endbuild -->
</body>
</html>
