build/
dist/
.cache/
.idea/
*.rpm
coveralls.json

# Vagrant / Chef
.vagrant/
Berksfile.lock

# Python
.coverage
.tox/
htmlcov/
coverage/
*.egg-info
*.pyc
venv/

# JavaScript
npm-debug.log*
node_modules/
bower_components/
node_modules/
