build/
dist/
.cache/
.idea/
*.rpm

# Vagrant / Chef
.vagrant/
Berksfile.lock

# Python
.coverage
.tox
htmlcov
*.egg-info
*.pyc
venv

# NodeJS
npm-debug.log*
node_modules
bower_components
node_modules
