.cache/
.idea/
.tmp/
build/
dist/
*.rpm

# Coverage
coverage/
htmlcov/
.coverage
coveralls.json

# Vagrant
.vagrant/

# Python
.tox/
venv/
*.egg-info
*.pyc

# JavaScript
bower_components/
node_modules/
npm-debug.log*
