coverage==4.1
ecdsa==0.13
Fabric==1.11.1
flake8==2.5.4
freezegun==0.3.7
mccabe==0.5.0
paramiko==1.17.0
pep8==1.7.0
git+https://github.com/mitsuhiko/platter.git#egg=platter
pluggy==0.3.1
py==1.4.31
pycrypto==2.6.1
pyflakes==1.2.3
pytest==2.9.2
pytest-cov==2.2.1
tox==2.3.1
virtualenv==13.1.2
-r requirements.txt
