alembic==0.9.1
amqp==1.4.9
anyjson==0.3.3
backports.csv==1.0.2
billiard==3.3.0.23
bleach==1.4.3
celery==3.1.23
click==6.6
cornflake==0.2.3
enum34==1.1.6
Flask==1.0.4
flask-admin==1.5.3
Flask-SQLAlchemy==2.3.2
html5lib==0.9999999
inflection==0.3.1
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.10
kombu==3.0.35
librabbitmq==1.6.1
MarkupSafe==0.23
psycopg2==2.7.3.2
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.10.0
setuptools
six==1.10.0
SQLAlchemy==1.2
SQLAlchemy-Enum34==1.0.1
tablib==0.11.2
termcolor==1.1.0
uwsgi==2.0.15
Werkzeug==0.14
wtforms==2.1
zxcvbn-python==4.4.18
Js2Py==0.39
tzlocal==1.2.2
functools32==3.2.3-2
jsonschema==2.5.1
xlsxwriter==1.0.2
