<div class="content">
  <h1 class="page-header">Patients</h1>

  <div class="row">
    <div class="col-md-9">
      <div loading="loading" list-helper="proxy">
        <div ng-show="!items.length">
          <p>No results.</p>
        </div>

        <table class="table" ng-if="items.length">
          <thead>
            <tr>
              <th sort-helper="id">ID</th>
              <th sort-helper="firstName">First Name</th>
              <th sort-helper="lastName">Last Name</th>
              <th sort-helper="dateOfBirth">DOB</th>
              <th sort-helper="gender">Gender</th>
              <th>Disease Groups</th>
              <th>Units</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="patient in items">
              <td><a ui-sref="patient.demographics({patientId: patient.id})">{{patient.id}}</a></td>
              <td>{{patient.firstName | missing}}</td>
              <td>{{patient.lastName | missing}}</td>
              <td>
                <span ng-if="patient.dateOfBirth">{{patient.dateOfBirth | dateFormat}}</span>
                <span ng-if="!patient.dateOfBirth">{{patient.yearOfBirth | missing}}</span>
              </td>
              <td>{{patient.gender | genderFormat}}</td>
              <td>
                <span ng-if="!patient.diseaseGroups.length">-</span>
                <span ng-repeat="diseaseGroup in patient.diseaseGroups | orderBy: 'diseaseGroup.name'">
                  {{diseaseGroup.diseaseGroup.name}}
                  <br ng-if="!$last" />
                </span>
              </td>
              <td>
                <span ng-if="!patient.units.length">-</span>
                <span ng-repeat="unit in patient.units | orderBy: 'unit.name'">
                  {{unit.unit.name}}
                  <br ng-if="!$last" />
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div pagination-helper></div>
      </div>
    </div>

    <div class="col-md-3">
      <h3>Search</h3>

      <input ng-model="filters.firstName" />

      <button ng-click="search()">Search</button>
      <button ng-click="clear()">Clear</button>
    </div>
  </div>
</div>
