<div class="patient-header">
  <div class="patient">
    <ul>
      <li class="name"><a ui-sref="patient.demographics({patientId: patient.id})" ng-bind="patient.getName()"></a></li>
      <li class="info">
        <span>
          <span class="key">ID</span>
          <span class="value">{{patient.id}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">DOB</span>
          <span class="value" ng-if="patient.dateOfBirth">{{patient.dateOfBirth | dateFormat}}</span>
          <span class="value" ng-if="!patient.dateOfBirth">{{patient.yearOfBirth | missing}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">Gender</span>
          <span class="value">{{patient.gender.label | missing}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">Recruited</span>
          <span class="value">{{patient.recruitedDate | dateFormat}}</span>
        </span>
      </li>

      <li ng-repeat="x in patient.getCurrentCohorts()" class="info">
        <span>
          <span class="key">Cohort</span>
          <span class="value">{{x.shortName}}</span>
        </span>
      </li>

      <li ng-repeat="x in patient.getCurrentHospitals()" class="info">
        <span>
          <span class="key">Hospital</span>
          <span class="value">{{x.shortName}}</span>
        </span>
      </li>
    </ul>
  </div>

  <div patient-navigation patient="patient"></div>
</div>

<div page-wrapper>
  <div ui-view></div>
</div>
