<div class="content">
  <h1 class="page-header">Patients <small>{{count}} patients</small></h1>

  <div class="row">
    <div class="col-sm-8">
      <p>
        <a href="" class="btn btn-primary">Recruit Patient</a>
      </p>

      <div loading="loading" list-helper="proxy">
        <div ng-show="!items.length">
          <p>No patients found.</p>
        </div>

        <table class="table table-condensed table-striped" ng-if="items.length">
          <thead>
            <tr>
              <th sort-helper="id">ID</th>
              <th sort-helper="firstName">First Name</th>
              <th sort-helper="lastName">Last Name</th>
              <th sort-helper="dateOfBirth">DOB</th>
              <th sort-helper="gender">Gender</th>
              <th>Cohorts</th>
              <th>Units</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="patient in items">
              <td><a ui-sref="patient.demographics({patientId: patient.id})">{{patient.id}}</a></td>

              <td>
                <a ui-sref="patient.demographics({patientId: patient.id})">
                  <span ng-if="patient.firstName !== undefined">{{patient.firstName}}</span>
                  <span ng-if="patient.firstName === undefined" class="hidden-demographics">Hidden</span>
                </a>
              </td>

              <td>
                <a ui-sref="patient.demographics({patientId: patient.id})">
                  <span ng-if="patient.lastName !== undefined">{{patient.lastName}}</span>
                  <span ng-if="patient.lastName === undefined" class="hidden-demographics">Hidden</span>
                </a>
              </td>

              <td>
                <span ng-if="patient.dateOfBirth === undefined">{{patient.dateOfBirth | dateFormat}}</span>
                <span ng-if="patient.dateOfBirth !== undefined">{{patient.yearOfBirth | missing}}</span>
              </td>

              <td>{{patient.gender.label}}</td>

              <td>
                <span ng-if="!patient.cohorts.length">-</span>
                <span ng-repeat="cohort in patient.cohorts | orderBy: 'cohort.name'">
                  {{cohort.cohort.name}}
                  <br ng-if="!$last" />
                </span>
              </td>

              <td>
                <span ng-if="!patient.getUnits().length">-</span>
                <span ng-repeat="organisation in patient.getUnits() | orderBy: 'organisation.name'">
                  {{organisation.organisation.name}}
                  <br ng-if="!$last" />
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <div pagination-helper></div>
      </div>
    </div>

    <div class="col-sm-4">
      <h3>Search</h3>

      <form class="form-horizontal form-container" submit-if-valid="search()" novalidate>
        <div frm-buttons>
          <span submit-button>Search</span>
          <button ng-click="clear()" class="btn btn-link">Clear</button>
        </div>

        <div frm-field frm-group>
          <div frm-label>RaDaR ID</div>

          <div frm-control>
            <div frm-integer-field model="filters.id"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>First Name</div>

          <div frm-control>
            <div frm-text-field model="filters.firstName"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Last Name</div>

          <div frm-control>
            <div frm-text-field model="filters.lastName"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Date of Birth</div>

          <div frm-control>
            <div frm-date-field model="filters.dateOfBirth"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Year of Birth</div>

          <div frm-control>
            <div frm-integer-field model="filters.yearOfBirth"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Date of Death</div>

          <div frm-control>
            <div frm-date-field model="filters.dateOfDeath"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Year of Death</div>

          <div frm-control>
            <div frm-integer-field model="filters.yearOfDeath"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Gender</div>

          <div frm-control>
            <div frm-select-field model="filters.gender" options="genders"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Patient Number</div>

          <div frm-control>
            <div frm-text-field model="filters.patientNumber"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Cohort</div>

          <div frm-control>
            <div frm-cohort-field model="filters.cohort"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Unit</div>

          <div frm-control>
            <div frm-unit-field model="filters.organisation"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-field frm-group>
          <div frm-label>Is Active?</div>

          <div frm-control>
            <div frm-boolean-field model="filters.isActive"></div>
            <div frm-errors></div>
          </div>
        </div>

        <div frm-buttons>
          <span submit-button>Search</span>
          <button ng-click="clear()" class="btn btn-link">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
