<div class="patient-header">
  <div class="patient">
    <ul>
      <li class="name"><a ui-sref="patient.demographics({patientId: patient.id})" ng-bind="patient.getName()"></a></li>
      <li class="info">
        <span>
          <span class="key">ID</span>
          <span class="value">{{patient.id}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">DOB</span>
          <span class="value" ng-if="patient.dateOfBirth">{{patient.dateOfBirth | dateFormat}}</span>
          <span class="value" ng-if="!patient.dateOfBirth">{{patient.yearOfBirth | missing}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">Gender</span>
          <span class="value">{{patient.gender.label}}</span>
        </span>
      </li>

      <li class="info">
        <span>
          <span class="key">Recruited</span>
          <span class="value">{{patient.recruitedDate | dateFormat | missing}}</span>
        </span>
      </li>

      <li ng-repeat="organisation in patient.getUnits()" ng-if="organisation.isActive" class="info">
        <span>
          <span class="key">Unit</span>
          <span class="value">{{organisation.organisation.name}}</span>
        </span>
      </li>

      <li ng-repeat="cohort in patient.cohorts" ng-if="cohort.isActive" class="info">
        <span>
          <span class="key">Cohort</span>
          <span class="value">{{cohort.cohort.shortName}}</span>
        </span>
      </li>
    </ul>
  </div>

  <div patient-navigation patient="patient"></div>

  <div
    ng-repeat="cohort in patient.cohorts | orderBy: 'cohort.cohort.name'"
    ng-if="cohort.isActive"
    cohort-navigation
    patient="patient"
    cohort="cohort.cohort"></div>
</div>

<div page-wrapper>
  <div ui-view></div>
</div>
