<div loading="loading">
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{item.id}}</td>
        </tr>

        <tr>
          <th>Data Source</th>
          <td>{{item.facility.name}}</td>
        </tr>

        <tr>
          <th>Dialysis Type</th>
          <td>{{item.dialysisType.label}}</td>
        </tr>

        <tr>
          <th>From Date</th>
          <td>{{item.fromDate | dateFormat}}</td>
        </tr>

        <tr>
          <th>To Date</th>
          <td>{{item.toDate | dateFormat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal" crud-submit="saveAndView()" novalidate>
      <div facility-field
           patient="patient"
           model="item.facility"
           required="true"></div>

      <div select-field
           label="Dialysis Type"
           model="item.dialysisType"
           errors="item.errors.dialysisType"
           required="true"
           options="dialysisTypes"></div>

      <div date-field
           label="From Date"
           model="item.fromDate"
           errors="item.errors.fromDate"
           required="true"></div>

      <div date-field
           label="To Date"
           model="item.toDate"
           errors="item.errors.toDate"
           min-date="item.fromDate"
           default-date="item.fromDate"
           min-date-message="Must be after from date."></div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <span crud-save-button></span>
          <span crud-cancel-list-button></span>
        </div>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" per-page="10" sort-by="fromDate" reverse="true">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="id">ID</th>
          <th sort-helper="fromDate">From Date</th>
          <th sort-helper="toDate">To Date</th>
          <th sort-helper="dialysisType.name">Dialysis Type</th>
          <th sort-helper="facility.name">Date Source</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.id}}</td>
          <td>{{item.fromDate | dateFormat}}</td>
          <td>{{item.toDate | dateFormat}}</td>
          <td>{{item.dialysisType.label}}</td>
          <td>{{item.facility.name}}</td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
