<div ng-if="!loading && viewing">
  <p ng-show="listEnabled()"><button ng-click="list()" type="button" class="btn btn-default">List</button></p>
  <p ng-show="editEnabled(item)"><button ng-click="edit(item)" type="button" class="btn btn-primary">Edit</button></p>
  <pre>{{item.getData() | json}}</pre>
</div>

<div ng-if="!loading && editing">
  <p ng-show="listEnabled()"><button ng-click="list()" type="button" class="btn btn-default">List</button></p>

  <p ng-show="viewEnabled(originalItem)"><button ng-click="view(originalItem)" class="btn btn-default">View</button></p>

  <form class="form-horizontal" ng-submit="form.$valid && saveEnabled() && saveAndView()" name="form" novalidate>
    <div facility-field
         patient="patient"
         model="item.facility"
         required="true"></div>

    <div select-field
         label="Dialysis Type"
         model="item.dialysisType"
         errors="item.errors.dialysisType"
         required="true"
         options="dialysisTypes"></div>

    <div date-field
         label="From Date"
         model="item.fromDate"
         errors="item.errors.fromDate"
         required="true"></div>

    <div date-field
         label="To Date"
         model="item.toDate"
         errors="item.errors.toDate"
         min-date="item.fromDate"
         default-date="item.fromDate"
         min-date-message="Must be after from date."></div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <button ng-class="{disabled: form.$invalid || !saveEnabled()}" ng-disabled="form.$invalid || !saveEnabled()" type="submit" class="btn btn-success">Save</button>
        <button ng-click="list()" ng-show="listEnabled()" type="button" class="btn btn-link">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div ng-if="loading">
  <p>Loading...</p>
</div>

<div ng-if="!loading && !viewing && !editing" list-helper="items as page" per-page="10">
  <p><button ng-click="create()" ng-show="createEnabled()" type="button" class="btn btn-primary">New</button></p>

  <div filter-helper></div>

  <div ng-show="!page.getCount()">
    <p>No results.</p>
  </div>

  <table class="table" ng-if="page.getCount()">
    <thead>
      <tr>
        <th sort-helper="id">ID</th>
        <th sort-helper="fromDate">From Date</th>
        <th sort-helper="toDate">To Date</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in page.getItems()">
        <td>{{item.id}}</td>
        <td>{{item.fromDate | dateFormat}}</td>
        <td>{{item.toDate | dateFormat}}</td>
        <td>
          <code>isSaving = {{item.isSaving}}</code>
        </td>
        <td>
          <button ng-click="view(item)" ng-show="viewEnabled(item)" type="button" class="btn btn-xs btn-default">View</button>
          <button ng-click="edit(item)" ng-show="editPermission(item) && editEnabled(item)" type="button" class="btn btn-xs btn-primary">Edit</button>
          <button ng-click="remove(item)" ng-show="removePermission(item) && removeEnabled(item)" type="button" class="btn btn-xs btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div pagination-helper></div>
</div>
