<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" ng-if="!item.id">New <span class="glyphicon glyphicon-asterisk modified" ng-if="modified()" title="Unsaved Changes"></span></h3>
    <h3 class="panel-title" ng-if="item.id">Edit <span class="glyphicon glyphicon-asterisk modified" ng-if="modified()" title="Unsaved Changes"></span></h3>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" ng-submit="save()" name="form">
      <div rr-facility-field
           patient="patient"
           model="detail.item.facility"
           required="true"></div>

      <div rr-select-field
           label="Dialysis Type"
           model="detail.item.dialysisType"
           errors="errors.dialysisType"
           required="true"
           options="dialysisTypes"></div>

      <div rr-date-field
           label="From Date"
           model="detail.item.fromDate"
           errors="errors.fromDate"
           required="true"></div>

      <div rr-date-field
           label="To Date"
           model="detail.item.toDate"
           errors="detail.errors.toDate"
           min-date="detail.item.fromDate"
           default-date="detail.item.fromDate"
           min-date-message="Must be after from date."></div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <div rr-save-button></div>
          <div rr-cancel-button modified="modified()" action="detail.cancel()"></div>
        </div>
      </div>
    </form>
  </div>
</div>

<div rr-search search="list.search"></div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th rr-sort by="list.sortBy" reverse="list.reverse" key="id">ID</th>
      <th rr-sort by="list.sortBy" reverse="list.reverse" key="fromDate">From Date</th>
      <th rr-sort by="list.sortBy" reverse="list.reverse" key="toDate">To Date</th>
      <th rr-sort by="list.sortBy" reverse="list.reverse" key="dialysisType.label">Dialysis Type</th>
      <th rr-sort by="list.sortBy" reverse="list.reverse" key="facility.name">Data Source</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-if="!list.items.length">
      <td colspan="7">No results.</td>
    </tr>

    <tr ng-repeat="item in list.displayItems">
      <td><a class="btn btn-default btn-xs" href>View</a> <a ng-click="detail.edit(item)" class="btn btn-primary btn-xs" href>Edit</a></td>
      <td>{{item.id}}</td>
      <td>{{item.fromDate | rrDate}}</td>
      <td>{{item.toDate | rrDate}}</td>
      <td>{{item.dialysisType.label}}</td>
      <td>{{item.facility.name}}</td>
      <td align="right"><div rr-delete-button action="remove(item)"></div></td>
    </tr>
  </tbody>
</table>

<div rr-pagination page="list.page" per-page="list.perPage" total="list.items.length"></div>
