<div rr-field-group required="required" errors="errors" ng-form name="form">
  <div rr-field-label>{{label}}</div>

  <div rr-field-control>
    <select ng-model="model" ng-options="x as x.label for x in options track by x.id" class="form-control" name="field"></select>

    <div rr-field-help ng-if="help">{{help}}</div>
    <div rr-field-error ng-repeat="error in errors">{{error}}</div>
    <div rr-field-error ng-show="form.field.$dirty && form.field.$error.required">This field is required.</div>
    <div rr-field-error ng-show="form.field.$dirty && form.field.$error.minDate">Date is too early.</div>
    <div rr-field-error ng-show="form.field.$dirty && form.field.$error.maxDate">Date is too late.</div>
  </div>
</div>
