<ol class="breadcrumb">
  <li><a href="" ng-click="backToSearch()">Search</a></li>
  <li ng-if="results.length"><a href="" ng-click="backToResults()">Results</a></li>
  <li class="active">Consent</li>
</ol>

<h2>Consent</h2>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>MPIID</th>
      <th>RaDaR ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>NHS No.</th>
      <th>CHI No.</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{patient.mpiid | missing}}</td>
      <td>{{patient.radarId | missing}}</td>
      <td>{{patient.firstName | missing}}</td>
      <td>{{patient.lastName | missing}}</td>
      <td>{{patient.dateOfBirth | dateFormat}}</td>
      <td>{{patient.nhsNo | missing}}</td>
      <td>{{patient.chiNo | missing}}</td>
    </tr>
  </tbody>
</table>

<form class="form-container" submit-if-valid="recruit()" frm-layout="vertical" novalidate>
  <div frm-field frm-group>
    <div frm-label>Unit</div>

    <div frm-control>
      <div frm-text-field model="patient.recruitedByOrganisation" required="true"></div>
      <div frm-errors errors="recruitErrors.recruitedByOrganisation"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Cohort</div>

    <div frm-control>
      <div frm-text-field model="patient.cohort" required="true"></div>
      <div frm-errors errors="recruitErrors.cohort"></div>
    </div>
  </div>

  <div frm-buttons>
    <span submit-button>Recruit Patient</span>
  </div>
</form>
