<ol class="breadcrumb">
  <li><a href="" ng-click="backToSearch()">Search</a></li>
  <li class="active">Patient Details</li>
</ol>

<h2>Patient Details</h2>

<form class="form-horizontal form-container" submit-if-valid="recruit()" novalidate>
  <div frm-field frm-group>
    <div frm-label>First Name</div>

    <div frm-control>
      <p class="form-control-static">{{patient.firstName | missing}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Last Name</div>

    <div frm-control>
      <p class="form-control-static">{{patient.lastName | missing}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Date of Birth</div>

    <div frm-control>
      <p class="form-control-static">{{patient.dateOfBirth | dateFormat}}</p>
    </div>
  </div>

  <div ng-repeat="x in patient.patientNumbers track by $index" frm-field frm-group>
    <div frm-label>{{x.numberGroup.shortName}}</div>

    <div frm-control>
      <p class="form-control-static">{{x.number}}</p>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Gender</div>

    <div frm-control>
      <div ng-if="patient.existing">
        <p class="form-control-static">{{patient.gender.label | missing}}</p>
      </div>

      <div ng-if="!patient.existing">
        <div frm-select-field model="patient.gender" required="true" options="genders"></div>
        <div frm-errors errors="patientErrors.gender"></div>
      </div>
    </div>
  </div>

  <div ng-if="!patient.existing" frm-field frm-group>
    <div frm-label>Ethnicity</div>

    <div frm-control>
      <div frm-select-field model="patient.ethnicity" options="ethnicities"></div>
      <div frm-errors errors="patientErrors.ethnicity"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Cohort</div>

    <div frm-control>
      <div frm-recruit-patient-cohort-field model="patient.cohortGroup" required="true"></div>
      <div frm-errors errors="patientErrors.cohortGroup"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Hospital</div>

    <div frm-control>
      <div frm-recruit-patient-hospital-field model="patient.hospitalGroup" required="true"></div>
      <div frm-errors errors="patientErrors.hospitalGroup"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-control label="false">
      <div frm-consent-field model="patient.consent">By ticking this box you confirm that the patient has completed all necessary <a href="http://rarerenal.org/radar-registry/criteria-and-consent/">consent forms</a>.</div>
      <div frm-errors></div>
    </div>
  </div>

  <div frm-buttons>
    <span submit-button>Recruit Patient</span>
  </div>
</form>
