<ol class="breadcrumb">
  <li><a href="" ng-click="backToSearch()">Search</a></li>
  <li ng-if="results.length"><a href="" ng-click="backToResults()">Results</a></li>
  <li class="active">Patient Details</li>
</ol>

<h2>Patient Details</h2>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Patient Numbers</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{patient.firstName | missing}}</td>
      <td>{{patient.lastName | missing}}</td>
      <td>{{patient.dateOfBirth | dateFormat}}</td>
      <td>{{patient.gender.label | missing}}</td>
      <td>
        <div ng-repeat="patientNumber in patient.patientNumbers">
          {{patientNumber.number}} ({{patientNumber.organisation.name}})
        </div>
      </td>
    </tr>
  </tbody>
</table>

<form class="form-horizontal form-container" submit-if-valid="recruit()" novalidate>
  <div ng-if="!patient.radarId">
    <div frm-field frm-group>
      <div frm-label>Gender</div>

      <div frm-control>
        <div frm-select-field model="patient.gender" required="true" options="genders"></div>
        <div frm-errors errors="patientErrors.gender"></div>
      </div>
    </div>

    <div frm-field frm-group>
      <div frm-label>Ethnicity</div>

      <div frm-control>
        <div frm-select-field model="patient.ethnicity" options="ethnicities"></div>
        <div frm-errors errors="patientErrors.ethnicity"></div>
      </div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Recruited Unit</div>

    <div frm-control>
      <div frm-unit-field model="patient.recruitedByOrganisation" required="true"></div>
      <div frm-errors errors="patientErrors.recruitedByOrganisation"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-label>Cohort</div>

    <div frm-control>
      <div frm-cohort-field model="patient.cohort" required="true"></div>
      <div frm-errors errors="patientErrors.cohort"></div>
    </div>
  </div>

  <div frm-field frm-group>
    <div frm-control label="false">
      <div frm-consent-field model="patient.consent">By ticking this box you confirm that the patient has completed all necessary <a href="http://rarerenal.org/radar-registry/criteria-and-consent/">consent forms</a>.</div>
      <div frm-errors></div>
    </div>
  </div>

  <div frm-buttons>
    <span submit-button>Recruit Patient</span>
  </div>
</form>
