<div class="navbar navbar-static-top navbar-radar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="index"><img src="/images/logo.png" height="30" /></a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" ng-if="isAuthenticated">
        <li ng-if="user.isAdmin || user.getCohorts().length > 5" ui-sref-active="active">
          <a ui-sref="cohorts">Cohorts</a>
        </li>

        <li ng-if="!user.isAdmin && user.getCohorts().length == 1" ui-sref-active="active">
          <a ui-sref="cohort({cohortId: x.group.id})" ng-repeat="x in user.getCohorts()">{{x.group.shortName}}</a>
        </li>

        <li ng-if="!user.isAdmin && user.getCohorts().length > 1 && user.getCohorts().length <= 5" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cohorts <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="x in user.getCohorts()">
              <a ui-sref="cohort({cohortId: x.group.id})">{{cohort.group.shortName}}</a>
            </li>
          </ul>
        </li>

        <li ng-if="user.isAdmin || user.getHospitals()().length > 5" ui-sref-active="active">
          <a ui-sref="hospitals">Hospitals</a>
        </li>

        <li ng-if="!user.isAdmin && user.getHospitals().length == 1" ui-sref-active="active">
          <a ui-sref="hospital({hospitalId: x.group.id})" ng-repeat="x in user.getHospitals()">{{x.group.shortName}}</a>
        </li>

        <li ng-if="!user.isAdmin && user.getHospitals().length > 1 && user.getHospitals().length <= 5" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hospitals <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="x in user.getHospitals()">
              <a ui-sref="hospital({hospitalId: x.group.id})">{{x.group.name}}</a>
            </li>
          </ul>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="patients">Patients</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="users">Users</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="posts">News</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="stats">Stats</a>
        </li>

        <li ui-sref-active="active" ng-if="user.isAdmin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active">
              <a ui-sref="consultants">Consultants</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav" ng-if="!isAuthenticated">
        <li ui-sref-active="active">
          <a ui-sref="posts">News</a>
        </li>
      </ul>

      <div class="navbar-right">
        <ul ng-if="isAuthenticated" class="nav navbar-nav">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as <b>{{user.username}}</b> <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active">
                <a ui-sref="account">Account</a>
              </li>

              <li ui-sref-active="active">
                <a ui-sref="changeEmail">Change Email</a>
              </li>

              <li ui-sref-active="active">
                <a ui-sref="changePassword">Change Password</a>
              </li>

              <li><a href="" logout>Logout</a></li>
            </ul>
          </li>
        </ul>

        <ul ng-if="!isAuthenticated" class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
