<div class="navbar navbar-static-top navbar-radar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="index">RaDaR</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" ng-if="isAuthenticated">
        <li ng-if="user.isAdmin || user.cohorts.length > 5" ui-sref-active="active">
          <a ui-sref="cohorts">Cohorts</a>
        </li>

        <li ng-if="!user.isAdmin && user.cohorts.length == 1" ui-sref-active="active">
          <a ui-sref="cohort({cohortId: cohort.cohort.id})" ng-repeat="cohort in user.cohorts">{{cohort.cohort.shortName}}</a>
        </li>

        <li ng-if="!user.isAdmin && user.cohorts.length > 1 && user.cohorts.length <= 5" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cohorts <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="cohort in user.cohorts">
              <a ui-sref="cohort({cohortId: cohort.cohort.id})">{{cohort.cohort.shortName}}</a>
            </li>
          </ul>
        </li>

        <li ng-if="user.isAdmin || user.getUnits().length > 5" ui-sref-active="active">
          <a ui-sref="units">Units</a>
        </li>

        <li ng-if="!user.isAdmin && user.getUnits().length == 1" ui-sref-active="active">
          <a ui-sref="unit({unitId: organisation.organisation.id})" ng-repeat="organisation in user.getUnits()">{{organisation.organisation.name}}</a>
        </li>

        <li ng-if="!user.isAdmin && user.getUnits().length > 1 && user.getUnits().length <= 5" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Units <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="organisation in user.getUnits()">
              <a ui-sref="unit({unitId: organisation.organisation.id})">{{organisation.organisation.name}}</a>
            </li>
          </ul>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="patients">Patients</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="users">Users</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="posts">News</a>
        </li>

        <li ui-sref-active="active">
          <a ui-sref="stats">Stats</a>
        </li>

        <!--
        <li ui-sref-active="active" ng-if="user.isAdmin">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active">
              <a ui-sref="logs">Logs</a>
            </li>
          </ul>
        </li>
        -->
      </ul>

      <ul class="nav navbar-nav" ng-if="!isAuthenticated">
        <li ui-sref-active="active">
          <a ui-sref="posts">News</a>
        </li>
      </ul>

      <div class="navbar-right">
        <ul ng-if="isAuthenticated" class="nav navbar-nav">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as <b>{{user.username}}</b> <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li ui-sref-active="active">
                <a ui-sref="account">Account</a>
              </li>

              <li ui-sref-active="active">
                <a ui-sref="changeEmail">Change Email</a>
              </li>

              <li ui-sref-active="active">
                <a ui-sref="changePassword">Change Password</a>
              </li>

              <li><a href="" logout>Logout</a></li>
            </ul>
          </li>
        </ul>

        <ul ng-if="!isAuthenticated" class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
