<nav ng-show="getTotalPages() > 1">
  <ul class="pagination">
    <li ng-class="{disabled: !hasPrevious()}">
      <a href="" ng-click="firstPage()" ng-disabled="!hasPrevious()">First</a>
    </li>

    <li ng-class="{disabled: !hasPrevious()}">
      <a href="" ng-click="previousPage()" ng-disabled="!hasPrevious()">Previous</a>
    </li>

    <li ng-class="{active: isCurrentPage(x), disabled: isJump(x)}" ng-repeat="x in pages track by $index">
      <a ng-if="isJump(x)" href="">...</a>
      <a ng-if="!isJump(x)" href="" ng-click="setPage(x)">{{x}}</a>
    </li>

    <li ng-class="{disabled: !hasNext()}">
      <a href="" ng-click="nextPage()" ng-disabled="!hasNext()">Next</a>
    </li>

    <li ng-class="{disabled: !hasNext()}">
      <a href="" ng-click="lastPage()" ng-disabled="!hasNext()">Last</a>
    </li>
  </ul>
</nav>
