<nav ng-show="getTotalPages() > 1">
  <ul class="pagination">
    <li ng-class="{disabled: !hasPrevious()}">
      <a href="" ng-click="firstPage()" ng-disabled="!hasPrevious()">First</a>
    </li>

    <li ng-class="{disabled: !hasPrevious()}">
      <a href="" ng-click="previousPage()" ng-disabled="!hasPrevious()">Previous</a>
    </li>

    <li ng-class="{active: page.active}" ng-repeat="page in pages">
      <a href="" ng-click="setPage(page.number)">{{page.number}}</a>
    </li>

    <li ng-class="{disabled: !hasNext()}">
      <a href="" ng-click="nextPage()" ng-disabled="!hasNext()">Next</a>
    </li>

    <li ng-class="{disabled: !hasNext()}">
      <a href="" ng-click="lastPage()" ng-disabled="!hasNext()">Last</a>
    </li>
  </ul>
</nav>
