<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties">
      <tr>
        <th>ID</th>
        <td>{{item.id}}</td>
      </tr>

      <tr>
        <th>Data Source</th>
        <td>{{item.dataSource.getName()}}</td>
      </tr>

      <tr>
        <th>Date of Transplant</th>
        <td>{{item.dateOfTransplant | dateFormat}}</td>
      </tr>

      <tr>
        <th>Type of Transplant</th>
        <td>{{item.typeOfTransplant.label}}</td>
      </tr>

      <tr>
        <th>Date of Failure</th>
        <td>{{item.dateOfFailure | dateFormat | missing}}</td>
      </tr>
    </table>

    <table class="table table-condensed table-striped" ng-if="item.rejections">
      <thead>
        <tr>
          <th>Date of Rejection</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="rejection in item.rejections">
          <td>{{rejection.dateOfRejection | dateFormat}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-condensed table-striped" ng-if="item.biopsies">
      <thead>
        <tr>
          <th>Date of Biopsy</th>
          <th>Recurrence of Disease</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="biopsy in item.biopsies">
          <td>{{biopsy.dateOfBiopsy | dateFormat}}</td>
          <td><span tick="biopsy.recurrence"></span></td>
        </tr>
      </tbody>
    </table>

    <div item-meta item="item"></div>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Data Source</div>

        <div frm-control>
          <div frm-patient-data-source-field patient="patient" model="item.dataSource" required="true"></div>
          <div frm-errors errors="item.errors.dataSource"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Date of Transplant</div>

        <div frm-control>
          <div frm-date-field model="item.dateOfTransplant" required="true"></div>
          <div frm-errors errors="item.errors.dateOfTransplant"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Type of Transplant</div>

        <div frm-control>
          <div frm-select-field model="item.typeOfTransplant" required="true" options="transplantTypes"></div>
          <div frm-errors errors="item.errors.typeOfTransplant"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Date of Failure</div>

        <div frm-control>
          <div frm-date-field model="item.dateOfFailure"></div>
          <div frm-errors errors="item.errors.dateOfFailure"></div>
        </div>
      </div>

      <div transplant-rejections-component transplant="item"></div>
      <div transplant-biopsies-component transplant="item"></div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" per-page="10" sort-by="transplantDate" reverse="true">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table table-condensed table-striped" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="dateOfTransplant">Date</th>
          <th sort-helper="typeOfTransplant.label">Type</th>
          <th sort-helper="dateOfFailure.label">Date of Failure</th>
          <th sort-helper="dataSource.getName()">Data Source</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.dateOfTransplant | dateFormat}}</td>
          <td>{{item.typeOfTransplant.label}}</td>
          <td>{{item.dateOfFailure.label}}</td>
          <td class="data-source">{{item.dataSource.getName()}}</td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
