@import "variables";
@import "mixins";

html {
  // Footer
  position: relative;
  min-height: 100%;
}

body {
  // Footer
  margin-bottom: $radar-footer-height;
}

.content {
  padding: $radar-padding;
}

h1:first-child {
  margin-top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $radar-footer-height;
  padding: $radar-padding;
  text-align: center;
  font-size: 11px;
  background-color: #333;
  color: #FFF;

  p {
    margin-bottom: 0;
  }

  a {
    color: #FFF;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
    color: $headings-color;
  }
}

ul {
  list-style-type: disc;
}

a {
  text-decoration: underline;
}

a.btn, .nav a {
  text-decoration: none;
}

select {
  max-width: 100%;
}

.input-group {
  max-width: 200px;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

.ui-datepicker {
  z-index: 9999 !important;
}

.search-clear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 13px;
  margin: auto;
  font-size: 13px;
  cursor: pointer;
  color: #ccc;
}

.table {
  width: auto;
}

th.right {
  text-align: right;
}

.latest-news-body {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-size: $font-size-base;
    margin: 0 0 9px 0;
  }
}

.logo {
  text-align: center;
  margin-bottom: 9px;

  img {
    max-height: 100px;
    max-width: 150px;

    @include filter(grayscale(100%));

    &:hover {
      @include filter(grayscale(0%));
    }
  }
}

@media (min-width: 768px) {
  .logo {
    width: 20%;
    float: left;

    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;

    height: 100px;
    line-height: 100px;
    vertical-align: middle;
  }
}

.form-container {
  max-width: 768px;
}

.form-control {
  width: auto;
}

textarea.form-control {
  width: 100%;
}

.properties th {
  text-align: right;
}

.newlines {
  white-space: pre-line;
}

td.data-source {
  color: #777;
}

a .hidden-demographics {
  color: $link-color;
}

.hidden-demographics {
  color: #777;
  font-style: italic;
}

.about {
  font-size: 16px;
}

.alert-danger a {
  color: $radar-danger-text;
}

.alert-warning a {
  color: $radar-warning-text;
}

.alert-success a {
  color: $radar-success-text;
}

.no-columns-selected {
  color: #777;
  font-style: italic;
}

form.columns {
  margin-bottom: 9px;
}

table.item-meta {
  font-size: 12px;
  border: 1px solid #eee;
  color: #777;
  border-collapse: collapse;
  margin: 0 0 9px;

  th, td {
    border: 1px solid #eee;
    padding: 3px 5px;
  }
}

.header-alert {
  text-align: center;
  font-size: 11px;
  padding: 3px 15px;
  color: #fff;
  background-color: #333;
}

.header-alert a {
  color: #fff;
}

.header-alert-danger {
  background-color: $radar-danger;
}

.header-alert-warning {
  background-color: $radar-warning;
}

.post {
  max-width: 600px;
}

// FIXME https://github.com/twbs/bootstrap-sass/issues/919
.breadcrumb > li + li:before {
    content: "/\00a0";
}

.text-editor-toolbar {
  margin: 0 0 9px 0;
}

.text-editor {
  border: 1px solid #ccc;
  min-height: 200px;
}

.graph {
  margin-bottom: 18px;
}

.navbar-brand {
  padding: 10px 15px;
}
