@import "variables";

.password-strength-meter {
  margin: 9px 0 9px 0;
  height: 10px;
  width: 200px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  $score-0: $radar-danger;
  $score-1: $radar-danger;
  $score-2: $radar-warning;
  $score-3: $radar-warning;
  $score-4: $radar-success;

  &.score-0 {
    border-color: $score-0;
    background-color: #FFF;
    background: linear-gradient(to right, #FFF);
  }

  &.score-1 {
    border-color: $score-1;
    background-color: $score-1;
    background: linear-gradient(to right, $score-1 25%, #FFF 25%);
  }

  &.score-2 {
    border-color: $score-2;
    background-color: $score-2;
    background: linear-gradient(to right, $score-2 50%, #FFF 50%);
  }

  &.score-3 {
    border-color: $score-3;
    background-color: $score-3;
    background: linear-gradient(to right, $score-3 75%, #FFF 75%);
  }

  &.score-4 {
    border-color: $score-4;
    background-color: $score-4;
  }
}
