@import "variables";

$radar-tabs-link-color: $radar-primary-text;
$radar-tabs-border-color: $radar-primary;
$radar-tabs-active-link-color: #fff;
$radar-tabs-active-bg: $radar-primary;
$radar-tabs-active-border-color: $radar-primary;
$radar-tabs-link-padding: 10px 15px;

.tabs-radar {
  margin-bottom: 9px;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid $radar-tabs-border-color;
  @include clearfix;

  > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $radar-tabs-link-padding;
      margin-right: 2px;
      line-height: $line-height-base;
      border: 1px solid transparent;
      border-radius: $border-radius-base $border-radius-base 0 0;
      color: $radar-tabs-link-color;
      text-decoration: none;

      > img {
        max-width: none;
      }
    }

    &.active > a {
      color: $radar-tabs-active-link-color;
      background-color: $radar-tabs-active-bg;
      border: 1px solid $radar-tabs-active-border-color;
    }
  }
}
