// ===== NHS =====

$nhs-dark-green: rgb(0, 107, 84);
$nhs-green: rgb(0, 158, 73);
$nhs-light-green: rgb(91, 191, 33);
$nhs-aqua-green: rgb(0, 170, 158);
$nhs-aqua-blue: rgb(0, 173, 198);
$nhs-light-blue: rgb(0, 145, 201);
$nhs-dark-blue: rgb(0, 56, 147);
$nhs-purple: rgb(86, 0, 140);
$nhs-dark-pink: rgb(160, 0, 84);
$nhs-dark-red: rgb(147, 22, 56);
$nhs-red: rgb(216, 30, 5);
$nhs-orange: rgb(226, 140, 5);
$nhs-yellow: rgb(247, 226, 20);

// ===== RaDaR =====

$radar-primary: $nhs-aqua-green;
$radar-primary-text: mix($radar-primary, black, 30%);
$radar-secondary-bg: mix($radar-primary, white, 20%);
$radar-primary-selected: mix($radar-primary, white, 90%);

$radar-secondary: $nhs-aqua-blue;
$radar-secondary-text: mix($radar-secondary, black, 30%);
$radar-secondary-bg: mix($radar-secondary, white, 20%);
$radar-secondary-selected: mix($radar-secondary, white, 90%);

$radar-success: $nhs-light-green;
$radar-success-text: mix($radar-success, black, 30%);
$radar-success-bg: mix($radar-success, white, 20%);

$radar-info: $nhs-aqua-blue;
$radar-info-text: mix($radar-info, black, 30%);
$radar-info-bg: mix($radar-info, white, 20%);

$radar-warning: $nhs-yellow;
$radar-warning-text: mix($radar-warning, black, 30%);
$radar-warning-bg: mix($radar-warning, white, 20%);

$radar-danger: $nhs-red;
$radar-danger-text: mix($radar-danger, black, 30%);
$radar-danger-bg: mix($radar-danger, white, 20%);

$radar-footer-height: 45px;
$radar-padding: 15px;

// ===== Bootstrap =====

// Fonts
$font-size-base: 13px;
$icon-font-path: '/bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// Links
$link-color: $radar-primary-text;

// Headings
$headings-color: $radar-primary-text;
$font-size-h1: floor(($font-size-base * 1.8));
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: ceil(($font-size-base * 1.4));
$font-size-h4: ceil(($font-size-base * 1.2));
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.8));

$brand-primary: $radar-primary;
$brand-success: $radar-success;
$brand-info: $radar-info;
$brand-warning: $radar-warning;
$brand-danger: $radar-danger;

// Success
$state-success-text: $radar-success-text;
$state-success-bg: $radar-success-bg;

// Info
$state-info-text: $radar-info-text;
$state-info-bg: $radar-info-bg;

// Warning
$state-warning-text: $radar-warning-text;
$state-warning-bg: $radar-warning-bg;

// Danger
$state-danger-text: $radar-danger-text;
$state-danger-bg: $radar-danger-bg;

@import "bootstrap/variables";
