<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-edit-button item="item"></span>
    </p>

    <div ng-if="item.getNotesHtml()" ng-bind-html="item.getNotesHtml()"></div>
    <p ng-if="!item.getNotesHtml()"><i>No notes.</i></p>
  </div>

  <div ng-if="editing">
    <form class="form-container" crud-submit="saveAndView()" frm-layout="vertical" novalidate>
      <div frm-field frm-group>
        <div frm-label>Notes</div>

        <div frm-control>
          <div frm-text-editor-field model="item.notes"></div>
          <div frm-errors errors="item.errors.notes"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>
    </form>
  </div>
</div>
