<div field-group required="required" has-error="!!errors || (form.field.$dirty && !!form.field.$invalid)" ng-form name="form">
  <div field-label>{{label}}</div>

  <div field-control>
    <input type="text"
           class="form-control"
           ng-required="required"
           ng-model="model"
           name="field" />

    <div field-help ng-if="help">{{help}}</div>
    <div field-error ng-repeat="error in errors">{{error}}</div>

    <div field-error ng-show="form.field.$dirty && form.field.$error.required">{{requiredMessage || 'Field is required.'}}</div>
  </div>
</div>
