<div loading="loading">
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{item.id}}</td>
        </tr>

        <tr>
          <th>Data Source</th>
          <td>{{item.facility.name}}</td>
        </tr>

        <tr>
          <th>Name</th>
          <td>{{item.name}}</td>
        </tr>

        <tr>
          <th>From Date</th>
          <td>{{item.fromDate | dateFormat}}</td>
        </tr>

        <tr>
          <th>To Date</th>
          <td>{{item.toDate | dateFormat}}</td>
        </tr>

        <tr>
          <th>Dose</th>
          <td>{{item.doseQuantity}} {{item.doseUnit.label}}</td>
        </tr>

        <tr>
          <th>Frequency</th>
          <td>{{item.frequency.label}}</td>
        </tr>

        <tr>
          <th>Route</th>
          <td>{{item.route.label}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Data Source</div>

        <div frm-control>
          <div frm-patient-facility-field patient="patient" model="item.facility" required="true"></div>
          <div frm-errors errors="item.errors.facilityId"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>From Date</div>

        <div frm-control>
          <div frm-date-field model="item.fromDate" required="true"></div>
          <div frm-errors errors="item.errors.fromDate"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>To Date</div>

        <div frm-control>
          <div frm-date-field model="item.toDate"></div>
          <div frm-errors errors="item.errors.toDate"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Name</div>

        <div frm-control>
          <div frm-text-field model="item.name"></div>
          <div frm-errors errors="item.errors.name"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Dose Quantity</div>

        <div frm-control>
          <div frm-number-field model="item.doseQuantity"></div>
          <div frm-errors errors="item.errors.doseQuantity"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Dose Unit</div>

        <div frm-control>
          <div frm-select-field model="item.doseUnit" required="true" options="doseUnits"></div>
          <div frm-errors errors="item.errors.doseUnitId"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Frequency</div>

        <div frm-control>
          <div frm-select-field model="item.frequency" required="true" options="frequencies"></div>
          <div frm-errors errors="item.errors.frequencyId"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Route</div>

        <div frm-control>
          <div frm-select-field model="item.route" required="true" options="routes"></div>
          <div frm-errors errors="item.errors.routeId"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" per-page="10" sort-by="fromDate" reverse="true">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table table-condensed table-striped" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="id">ID</th>
          <th sort-helper="fromDate">From Date</th>
          <th sort-helper="toDate">To Date</th>
          <th sort-helper="name">Name</th>
          <th sort-helper="doseQuantity">Dose</th>
          <th sort-helper="frequency.label">Frequency</th>
          <th sort-helper="route.label">Route</th>
          <th sort-helper="facility.name">Data Source</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.id}}</td>
          <td>{{item.fromDate | dateFormat}}</td>
          <td>{{item.toDate | dateFormat}}</td>
          <td>{{item.name}}</td>
          <td>{{item.doseQuantity}} {{item.doseUnit.label}}</td>
          <td>{{item.frequency.label}}</td>
          <td>{{item.route.label}}</td>
          <td>{{item.facility.name}}</td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
