<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-create-button action="create()"></span>
      <span crud-edit-button item="item"></span>
      <span crud-remove-button item="item"></span>
    </p>

    <table class="table properties" ng-if="item">
      <tr>
        <th>Date of Onset of Symptoms</th>
        <td>{{item.dateOfSymptoms | dateFormat}} ({{item.ageOfSymptoms | ageFormat}})</td>
      </tr>

      <tr>
        <th>Date of Diagnosis</th>
        <td>{{item.dateOfDiagnosis | dateFormat}} ({{item.ageOfDiagnosis | ageFormat}})</td>
      </tr>

      <tr>
        <th>Date of Onset of Renal Disease</th>
        <td>{{item.dateOfRenalDisease | dateFormat}} <span ng-if="item.dateOfRenalDisease">({{item.ageOfRenalDisease | ageFormat}})</span></td>
      </tr>

      <tr ng-if="groupDiagnoses.length">
        <th>Diagnosis</th>
        <td>{{item.groupDiagnosis.name}}</td>
      </tr>

      <tr>
        <th>Diagnosis Text</th>
        <td class="newlines">{{item.diagnosisText | missing}}</td>
      </tr>

      <tr ng-if="biopsyDiagnoses.length">
        <th>Biopsy Diagnosis</th>
        <td>{{item.biopsyDiagnosis.name | missing}}</td>
      </tr>
    </table>

    <div ng-if="item" item-meta item="item"></div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Date of Onset of Symptoms</div>

        <div frm-control>
          <div frm-date-field model="item.dateOfSymptoms" required="true"></div>
          <div frm-errors errors="item.errors.dateOfSymptoms"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Date of Diagnosis</div>

        <div frm-control>
          <div frm-date-field model="item.dateOfDiagnosis" required="true" min-date="item.dateOfOnset"></div>
          <div frm-errors errors="item.errors.dateOfDiagnosis"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Date of Onset of Renal Disease</div>

        <div frm-control>
          <div frm-date-field model="item.dateOfRenalDisease" required="false"></div>
          <div frm-errors errors="item.errors.dateOfRenalDisease"></div>
        </div>
      </div>

      <div ng-if="groupDiagnoses.length" frm-field frm-group>
        <div frm-label>Diagnosis</div>

        <div frm-control>
          <div frm-select-field model="item.groupDiagnosis" required="true" options="groupDiagnoses" options-label="name"></div>
          <div frm-errors errors="item.errors.groupDiagnosis"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Diagnosis Text</div>

        <div frm-control>
          <div frm-textarea-field model="item.diagnosisText"></div>
          <div frm-errors errors="item.errors.diagnosisText"></div>
        </div>
      </div>

      <div ng-if="biopsyDiagnoses.length" frm-field frm-group>
        <div frm-label>Biopsy Diagnosis</div>

        <div frm-control>
          <div frm-select-field model="item.biopsyDiagnosis" options="biopsyDiagnoses" options-label="name"></div>
          <div frm-errors errors="item.errors.biopsyDiagnosis"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-button action="view(originalItem)"></span>
      </div>
    </form>
  </div>
</div>
