{% extends 'simple.html' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/panels.html' import render_panel %}

{% block content %}
    <form method="POST">
        <p><button name="restart" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Restart</button></p>
    </form>

    <h1>New Patient</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.date_of_birth) }}
        {{ render_field(form.gender) }}
        {{ render_field(form.ethnicity) }}
        {{ render_field(form.nhs_no) }}
        {{ render_field(form.chi_no) }}

        <button type="submit" class="btn btn-success">New Patient</button>
    </form>
{% endblock %}
