{% extends 'simple.html' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/panels.html' import render_panel %}

{% block content %}
    <form method="POST">
        <p><button name="restart" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Restart</button></p>
    </form>

    <h1 class="page-header">Found Existing RaDaR Patients</h1>

    <ul>
        <li>One or more RaDaR patients matched the supplied identifiers.</li>
        <li>If the patient you want to recruit is in the list click the "Match" button next to their details.</li>
        <li>Otherwise, if none of the patients match, use the "No Match" button at the bottom.</li>
    </ul>

    <table class="table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>NHS No.</th>
                <th>CHI No.</th>
            </tr>
        </thead>

        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <input type="hidden" name="patient_id" value="{{ patient.id }}" />
                            <button type="submit" class="btn btn-success btn-xs" name="recruit_patient_radar">Match</button>
                        </form>
                    </td>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.first_name | missing }}</td>
                    <td>{{ patient.last_name | missing }}</td>
                    <td>{{ patient.date_of_birth | date_format | missing }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="7" align="center">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-danger btn-xs" name="recruit_patient_radar">No Match</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
