{% extends 'simple.html' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/panels.html' import render_panel %}

{% block content %}
    <h1>Recruit a Patient</h1>

    {% if need_more_identifiers %}
        {% call render_panel('Error', 'panel-danger') %}
            <p>Please supply one of:</p>

            <ul>
                <li>First Name and Last Name.</li>
                <li>NHS No.</li>
                <li>CHI No.</li>
            </ul>
        {% endcall %}
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ render_field(form.date_of_birth) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.nhs_no) }}
        {{ render_field(form.chi_no) }}
        {{ render_field(form.unit_id) }}
        {{ render_field(form.disease_group_id) }}

        <button type="submit" class="btn btn-success" name="recruit_patient_search">Add Patient</button>
    </form>
{% endblock %}
