{% extends 'patient/base.html' %}

{% set patient_page = 'medications' %}

{% block content %}
    <h1>Medications</h1>

    <p><a href="{{ url_for('.create', patient_id=patient.id) }}" class="btn btn-primary">New</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for form_entry in form_entries %}
                <tr>
                    <td><a href="{{ url_for('.detail', patient_id=patient.id, form_entry_id=form_entry.id) }}">{{ form_entry.id }}</a></td>
                    <td>{{ form_entry.from_date | datetime_format('%d/%m/%Y') }}</td>
                    <td>{{ form_entry.to_date | datetime_format('%d/%m/%Y') }}</td>
                    <td>{{ form_entry.name }}</td>
                    <td align="right">
                        <form method="POST" action="{{ url_for('.delete', patient_id=patient.id, form_entry_id=form_entry.id) }}" class="form-inline">
                            <button type="submit" class="btn btn-link btn-xs">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}