{% extends 'patient/base.html' %}

{% set patient_page = 'medications' %}

{% block content %}
    <h1>Medications</h1>

    <p><a href="{{ url_for('.create', patient_id=patient.id) }}" class="btn btn-primary">New</a></p>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for medication in medications %}
                <tr>
                    <td>
                        {% if medication.edit_url %}
                            <a href="{{ medication.edit_url }}" class="btn btn-primary btn-xs">Edit</a>
                        {% endif %}
                    </td>

                    <td>{{ medication.from_date | datetime_format('%d/%m/%Y') | default('-', True) }}</td>
                    <td>{{ medication.to_date | datetime_format('%d/%m/%Y') | default('-', True) }}</td>
                    <td>{{ medication.name | default('-', True) }}</td>

                    <td align="right">
                        {% if medication.delete_url %}
                            <form method="POST" action="{{ medication.delete_url }}" class="form-inline">
                                <button type="submit" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}