{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}
{% from 'macros/forms.html' import render_horizontal_button as render_button %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if form %}
                {% if object.id %}
                    Edit Hospitalisation
                {% else %}
                    New Hospitalisation
                {% endif %}
            {% else %}
                View Hospitalisation
            {% endif %}
        </h3>
    </div>

    <div class="panel-body">
        {% if form %}
            {{ render_form_errors(form) }}

            <form method="POST" class="form-horizontal">
                {{ form.hidden_tag() }}

                {{ render_field(form.facility_id) }}

                <hr />

                {{ render_field(form.date_of_admission) }}
                {{ render_field(form.date_of_discharge) }}
                {{ render_field(form.reason_for_admission) }}
                {{ render_field(form.comments) }}

                {% call render_button() %}
                    <button type="submit" class="btn btn-success">Save</button>
                {% endcall %}
            </form>
        {% else %}
            <table class="table kv">
                <tr>
                    <th width="20%">Data Source</th>
                    <td>{{ object.facility.name }}</td>
                </tr>

                <tr>
                    <th>Date of Admission</th>
                    <td>{{ object.date_of_admission | date_format | missing }}</td>
                </tr>

                <tr>
                    <th>Date of Discharge</th>
                    <td>{{ object.date_of_discharge | date_format | missing }}</td>
                </tr>

                <tr>
                    <th>Reason for Admission</th>
                    <td>{{ object.reason_for_admission | missing }}</td>
                </tr>

                <tr>
                    <th>Comments</th>
                    <td>{{ object.comments | nl2br | missing }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
</div>