{% if objects %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>From Date</th>
                <th>To Date</th>
                <th>No. of Exchanges</th>
                <th>Response</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for x in objects %}
                <tr>
                    <td>
                        {% if x.can_edit(current_user) %}
                            <a href="{{ url_for('plasmapheresis.edit_plasmapheresis', patient_id=patient.id, plasmapheresis_id=x.id) }}" class="btn btn-primary btn-xs">Edit</a>
                        {% endif %}
                    </td>
                    <td>{{ x.from_date | date_format }}</td>
                    <td>{{ x.to_date | date_format | missing }}</td>
                    <td>{{ x.no_of_exchanges | missing }}</td>
                    <td>
                        {% if x.response %}
                            {{ x.response.label }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td align="right">
                        {% if x.can_edit(current_user) %}
                            <form method="POST" action="{{ url_for('plasmapheresis.delete_plasmapheresis', patient_id=patient.id, plasmapheresis_id=x.id) }}" class="form-inline confirm-delete">
                                {{ delete_form.hidden_tag() }}

                                <button type="submit" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No plasmapheresis records.</p>
{% endif %}
