{% if objects %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Type</th>
                <th>Reoccurred</th>
                <th>Date Reoccurred</th>
                <th>Date Failure</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for x in objects %}
                <tr>
                    <td>
                        {% if x.can_edit(current_user) %}
                            <a href="{{ url_for('transplants.edit_transplant', patient_id=patient.id, transplant_id=x.id) }}" class="btn btn-default btn-xs btn-primary">Edit</a>
                        {% endif %}
                    </td>
                    <td>{{ x.transplant_date | date_format }}</td>
                    <td>{{ x.transplant_type.label }}</td>
                    <td>{{ x.reoccurred | yn | missing }}</td>
                    <td>{{ x.date_reoccurred | date_format | missing }}</td>
                    <td>{{ x.date_failed | date_format | missing }}</td>
                    <td align="right">
                        {% if x.can_edit(current_user) %}
                            <form method="POST" action="{{ url_for('transplants.delete_transplant', patient_id=patient.id, transplant_id=x.id) }}" class="form-inline confirm-delete">
                                {{ delete_form.hidden_tag() }}

                                <button type="submit" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No transplants.</p>
{% endif %}
