{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}
{% from 'macros/forms.html' import render_horizontal_button as render_button %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if object %}
                {% if object.id %}
                    Edit Transplant
                {% else %}
                    New Transplant
                {% endif %}
            {% else %}
                View Transplant
            {% endif %}
        </h3>
    </div>

    <div class="panel-body">
        {{ render_form_errors(form) }}

        <form method="POST" class="form-horizontal">
            {{ form.hidden_tag() }}

            {{ render_field(form.facility_id) }}

            <hr />

            {{ render_field(form.transplant_date) }}
            {{ render_field(form.transplant_type_id) }}
            {{ render_field(form.recurred) }}
            {{ render_field(form.date_recurred) }}
            {{ render_field(form.date_failed) }}

            <div id="foos">
                {% for foo in form.foos %}
                    {% if loop.index == 1 %}
                        <div data-toggle="fieldset-entry" class="well" style="display: None">
                    {% else %}
                        <div data-toggle="fieldset-entry" class="well">
                    {% endif %}

                    {{ foo.hidden_tag() }}

                    {{ render_field(foo.bar) }}
                    {{ render_field(foo.baz) }}

                    <p><button data-toggle="fieldset-remove-row" class="btn btn-danger">Delete</button></p>

                    </div>
                {% endfor %}

                <button data-toggle="fieldset-add-row" data-target="#foos" type="button" class="btn btn-primary">Add</button>
            </div>

            {% if show_apples %}
                {{ render_field(form.apples) }}
            {% endif %}

            {% call render_button() %}
                <button type="submit" class="btn btn-success">Save</button>
            {% endcall %}
        </form>
    </div>
</div>
