{% extends 'patient/base.html' %}

{% set current_patient_page = 'demographics' %}
{% set title = 'Demographics' %}

{% from 'macros/panels.html' import render_panel %}

{% block content %}
    <h1 class="page-header">Demographics</h1>

    {% for facility_patient in facility_patients %}
        {% call render_panel(facility_patient.facility.name, 'panel-default') %}
            {% if facility_patient.can_edit(current_user) %}
                <p><a href="{{ url_for('patients.edit_demographics', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Edit Demographics</a></p>
            {% endif %}

            {% if facility_patient.demographics %}
                <table class="table kv">
                    {% if patient.can_view_demographics(current_user) %}
                        <tr>
                            <th width="20%">First Name</th>
                            <td>{{ facility_patient.demographics.first_name }}</td>
                        </tr>

                        <tr>
                            <th>Last Name</th>
                            <td>{{ facility_patient.demographics.last_name }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th width="20%">Gender</th>
                        <td>
                            {% if facility_patient.demographics.gender == 'M' %}
                                Male
                            {% elif facility_patient.demographics.gender == 'F' %}
                                Female
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th width="20%">Date of Birth</th>
                        <td>
                            {% if patient.can_view_demographics(current_user) %}
                                {{ facility_patient.demographics.date_of_birth | date_format | missing }}
                            {% else %}
                                {{ facility_patient.demographics.date_of_birth | year_format | missing }}
                            {% endif %}
                        </td>
                    </tr>

                    {% if facility_patient.demographics.date_of_death %}
                        <tr>
                            <th width="20%">Date of Death</th>
                            <td>
                                {% if patient.can_view_demographics(current_user) %}
                                    {{ facility_patient.demographics.date_of_death | date_format }}
                                {% else %}
                                    {{ facility_patient.demographics.date_of_death | year_format }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    {% if facility_patient.demographics.ethnicity_code %}
                        <tr>
                            <th width="20%">Ethnicity</th>
                            <td>
                                {{ facility_patient.demographics.ethnicity_code.label }} <small>({{ facility_patient.demographics.ethnicity_code.id }})</small>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            {% endif %}

            {% if facility_patient.can_edit(current_user) or (facility_patient.demographics and patient.can_view_demographics(current_user) and (facility_patient.demographics.home_number or facility_patient.demographics.work_number or facility_patient.demographics.mobile_number or facility_patient.demographics.email_address)) %}
                <h4>Contact Details</h4>

                {% if facility_patient.can_edit(current_user) %}
                    <p>
                        <a href="{{ url_for('patients.edit_demographics', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Edit Contact Details</a>
                    </p>
                {% endif %}

                {% if facility_patient.demographics and patient.can_view_demographics(current_user) and (facility_patient.demographics.home_number or facility_patient.demographics.work_number or facility_patient.demographics.mobile_number or facility_patient.demographics.email_address) %}
                    <table class="table kv">
                        {% if patient.can_view_demographics(current_user) %}
                            {% if facility_patient.demographics.home_number %}
                                <tr>
                                    <th width="20%">Home Number</th>
                                    <td>{{ facility_patient.demographics.home_number }}</td>
                                </tr>
                            {% endif %}

                            {% if facility_patient.demographics.mobile_number %}
                                <tr>
                                    <th width="20%">Mobile Number</th>
                                    <td>{{ facility_patient.demographics.mobile_number }}</td>
                                </tr>
                            {% endif %}

                            {% if facility_patient.demographics.work_number %}
                                <tr>
                                    <th width="20%">Work Number</th>
                                    <td>{{ facility_patient.demographics.work_number }}</td>
                                </tr>
                            {% endif %}

                            {% if facility_patient.demographics.email_address %}
                                <tr>
                                    <th width="20%">Email Address</th>
                                    <td>{{ facility_patient.demographics.email_address }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </table>
                {% endif %}
            {% endif %}

            <h4>Numbers</h4>

            {% if facility_patient.can_edit(current_user) %}
                <p>
                    <a href="{{ url_for('patients.add_patient_number', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Add Number</a>
                </p>
            {% endif %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th width="20%">Organisation</th>
                        <th>Number</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td>RaDaR</td>
                        <td>{{ patient.id }}</td>
                        <td></td>
                    </tr>

                    {% if patient.can_view_demographics(current_user) %}
                        {% if facility_patient.demographics %}
                            {% if facility_patient.demographics.nhs_no %}
                                <tr>
                                    <td>
                                        {% if facility_patient.can_edit(current_user) %}
                                            <a href="{{ url_for('patients.edit_demographics', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Edit</a>
                                        {% endif %}
                                    </td>
                                    <td>NHS</td>
                                    <td>{{ facility_patient.demographics.nhs_no }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}

                            {% if facility_patient.demographics.chi_no %}
                                <tr>
                                    <td>
                                        {% if facility_patient.can_edit(current_user) %}
                                            <a href="{{ url_for('patients.edit_demographics', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Edit</a>
                                        {% endif %}
                                    </td>
                                    <td>CHI</td>
                                    <td>{{ facility_patient.demographics.chi_no }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% if facility_patient.latest_import %}
                            <tr>
                                <td></td>
                                <td>MPIID</td>
                                <td>{{ facility_patient.latest_import.mpiid }}</td>
                                <td></td>
                            </tr>
                        {% endif %}

                        {% for number in facility_patient.numbers %}
                            <tr>
                                <td>
                                    {% if number.can_edit(current_user) %}
                                        <a href="{{ url_for('patients.edit_patient_number', patient_id=patient.id, patient_number_id=number.id) }}" class="btn btn-primary btn-xs">Edit</a>
                                    {% endif %}
                                </td>
                                <td>{{ number.number_facility.name | missing }}</td>
                                <td>{{ number.number | missing }}</td>
                                <td align="right">
                                    {% if number.can_edit(current_user) %}
                                        <form method="POST" action="{{ url_for('patients.delete_patient_number', patient_id=patient.id, patient_number_id=number.id) }}" class="form-inline confirm-delete">
                                            {{ delete_form.hidden_tag() }}

                                            <button type="submit" class="btn btn-link btn-xs">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

            {% if facility_patient.can_edit(current_user) or (facility_patient.aliases and patient.can_view_demographics(current_user)) %}
                <h4>Aliases</h4>

                {% if facility_patient.can_edit(current_user) %}
                    <p>
                        <a href="{{ url_for('patients.add_patient_alias', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Add Alias</a>
                    </p>
                {% endif %}

                {% if facility_patient.aliases %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%"></th>
                                <th width="20%">First Name</th>
                                <th width="20%">Last Name</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for alias in facility_patient.aliases %}
                                <tr>
                                    <td>
                                        {% if alias.can_edit(current_user) %}
                                            <a href="{{ url_for('patients.edit_patient_alias', patient_id=patient.id, patient_alias_id=alias.id) }}" class="btn btn-primary btn-xs">Edit</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ alias.first_name | missing }}</td>
                                    <td>{{ alias.last_name | missing }}</td>
                                    <td align="right">
                                        {% if alias.can_edit(current_user) %}
                                            <form method="POST" action="{{ url_for('patients.delete_patient_alias', patient_id=patient.id, patient_alias_id=alias.id) }}" class="form-inline confirm-delete">
                                                {{ delete_form.hidden_tag() }}

                                                <button type="submit" class="btn btn-link btn-xs">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}

            {% if facility_patient.can_edit(current_user) or (facility_patient.addresses and patient.can_view_demographics(current_user)) %}
                <h4>Addresses</h4>

                {% if facility_patient.can_edit(current_user) %}
                    <p>
                        <a href="{{ url_for('patients.add_patient_address', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Add Address</a>
                    </p>
                {% endif %}

                {% if facility_patient.addresses %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td width="10%"></td>
                                <th width="20%">From Date</th>
                                <th width="20%">To Date</th>
                                <th>Address</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for address in facility_patient.addresses %}
                                <tr>
                                    <td>
                                        {% if address.can_edit(current_user) %}
                                            <a href="{{ url_for('patients.edit_patient_address', patient_id=patient.id, patient_address_id=address.id) }}" class="btn btn-primary btn-xs">Edit</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ address.from_date | date_format | missing }}</td>
                                    <td>{{ address.to_date | date_format | missing }}</td>
                                    <td>{{ address.full_address | nl2br }}</td>
                                    <td align="right">
                                        {% if address.can_edit(current_user) %}
                                            <form method="POST" action="{{ url_for('patients.delete_patient_address', patient_id=patient.id, patient_address_id=address.id) }}" class="form-inline confirm-delete">
                                                {{ delete_form.hidden_tag() }}

                                                <button type="submit" class="btn btn-link btn-xs">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        {% endcall %}
    {% endfor %}

    <hr />

    {% call render_panel('Meta', 'panel-default') %}
        <table class="table kv">
            <tr>
                <th width="20%">Date Recruited</th>
                <td>{{ patient.recruited_date | datetime_format(seconds=True) | missing }}</td>
            </tr>

            <tr>
                <th width="20%">Recruiting User</th>
                <td>
                    {% if patient.recruited_user %}
                        {{ patient.recruited_user }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th width="20%">Recruiting Unit</th>
                <td>
                    {% if patient.recruited_unit %}
                        {{ patient.recruited_unit.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th width="20%">Active</th>
                <td>
                    {% if patient.is_active %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}

                    {% if patient.can_edit(current_user) %}
                        <a href="{{ url_for('patients.edit_patient_active', patient_id=patient.id) }}" class="btn btn-primary btn-xs">Edit</a>
                    {% endif %}
                </td>
            </tr>
        </table>

        {% if patient.can_delete(current_user) %}
            <p><a href="{{ url_for('patients.delete_patient', patient_id=patient.id) }}" class="btn btn-danger btn-xs">Delete Patient</a></p>
        {% endif %}
    {% endcall %}
{% endblock %}
