{% extends 'patient/base.html' %}

{% set current_patient_page = 'genetics' %}
{% set current_patient_disease_group = disease_group %}
{% set title = 'Genetics' %}

{% from 'macros/forms.html' import render_horizontal_button as render_button %}
{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}

{% block content %}
    <h1 class="page-header">Edit Genetics</h1>

    {{ render_form_errors(form) }}

    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}

        {{ render_field(form.sample_sent) }}

        <div id="sample_sent_extra">
            {{ render_field(form.sample_sent_date) }}
            {{ render_field(form.laboratory) }}
            {{ render_field(form.laboratory_reference_number) }}
            {{ render_field(form.results, rendered_field=form.results(class='form-control', rows=10)) }}
        </div>

        {% call render_button() %}
            <button type="submit" class="btn btn-success">Save</button>
        {% endcall %}
    </form>
{% endblock %}

{% block body_js %}
    <script src="/static/js/genetics-form.js"></script>
{% endblock %}
