{% extends 'patient/base.html' %}

{% set current_patient_page = 'demographics' %}
{% set title = 'Demographics' %}

{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}

{% block content %}
    <h1 class="page-header">Edit Demographics</h1>

    {{ render_form_errors(form) }}

    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-sm-6">
                {{ render_field(form.first_name) }}
                {{ render_field(form.last_name) }}
                {{ render_field(form.date_of_birth) }}
                {{ render_field(form.date_of_death) }}
                {{ render_field(form.gender) }}
                {{ render_field(form.ethnicity_code_id) }}
            </div>

            <div class="col-sm-6">
                {{ render_field(form.nhs_no) }}
                {{ render_field(form.chi_no) }}

                <hr />

                {{ render_field(form.home_number) }}
                {{ render_field(form.work_number) }}
                {{ render_field(form.mobile_number) }}
                {{ render_field(form.email_address) }}
            </div>
        </div>

        <button class="btn btn-success">Save</button>
    </form>
{% endblock %}
