{% extends 'patient/base.html' %}

{% set current_patient_page = 'salt_wasting_clinical_features' %}
{% set current_patient_disease_group = disease_group %}

{% block content %}
    <h1 class="page-header">Genetics</h1>

    {% if object.can_edit(current_user) %}
        <p><a href="{{ url_for('genetics.edit_genetics', patient_id=patient.id, disease_group_id=disease_group.id) }}" class="btn btn-primary">Edit</a></p>
    {% endif %}

    {% if object.id %}
        <table class="table kv">
            <tr>
                <th width="20%">Sample Sent</th>
                <td>{{ object.sample_sent | yn }}</td>
            </tr>

            <tr>
                <th>Sample Sent Date</th>
                <td>{{ object.sample_sent_date | date_format | missing }}</td>
            </tr>

            <tr>
                <th>Laboratory</th>
                <td>{{ object.laboratory | missing }}</td>
            </tr>

            <tr>
                <th>Laboratory Reference Number</th>
                <td>{{ object.laboratory_reference_number | missing }}</td>
            </tr>

            <tr>
                <th>Results</th>
                <td>{{ object.results | nl2br | missing }}</td>
            </tr>
        </table>
    {% else %}
        <p>No genetics yet.</p>
    {% endif %}
{% endblock %}