{% extends 'patient/base.html' %}

{% from 'macros/pagination.html' import render_pagination %}
{% from 'macros/ordering.html' import render_sortable_column %}

{% block content %}
    <h1 class="page-header">{{ lab_group_definition.name }}</h1>

    <table class="table table-condensed table-striped">
        <thead>
            <th></th>
            <th>Date</th>
            <th></th>
        </thead>

        <tbody>
            {% for x in objects %}
                <tr>
                    <td></td>
                    <td>{{ x.date | datetime_format('%d/%m/%Y %H:%M') }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}