{% extends 'patient/base.html' %}

{% set current_patient_page = 'medications' %}
{% set title = "Medications" %}

{% block content %}
    <h1 class="page-header">Medications</h1>

    {% if object %}
        {% include "patient/_medication.html" %}
    {% endif %}

    {% if patient.can_edit(current_user) %}
        <p><a href="{{ url_for('medications.add_medication', patient_id=patient.id) }}" class="btn btn-primary">New</a></p>
    {% endif %}

    {% include "patient/_medication_list.html" %}
{% endblock %}
