{% extends 'patient/base.html' %}

{% set title = 'Patient Numbers' %}

{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}
{% from 'macros/forms.html' import render_horizontal_button as render_button %}

{% block content %}
    {% if object %}
        <h1 class="page-header">Edit Patient Number</h1>
    {% else %}
        <h1 class="page-header">Add Patient Number</h1>
    {% endif %}

    {{ render_form_errors(form) }}

    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}

        {{ render_field(form.number_facility_id) }}
        {{ render_field(form.number) }}

        {% call render_button() %}
            <button type="submit" class="btn btn-success">Save</button>
        {% endcall %}
    </form>
{% endblock %}
