{% extends 'patient/base.html' %}

{% set title = 'Patient Addresses' %}

{% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% from 'macros/forms.html' import render_form_errors %}
{% from 'macros/forms.html' import render_horizontal_button as render_button %}

{% block content %}
    {% if object.id %}
        <h1 class="page-header">Edit Patient Address</h1>
    {% else %}
        <h1 class="page-header">Add Patient Address</h1>
    {% endif %}

    {{ render_form_errors(form) }}

    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}

        {{ render_field(form.from_date) }}
        {{ render_field(form.to_date) }}
        {{ render_field(form.address_line_1) }}
        {{ render_field(form.address_line_2) }}
        {{ render_field(form.address_line_3) }}
        {{ render_field(form.postcode) }}

        {% call render_button() %}
            <button type="submit" class="btn btn-success">Save</button>
        {% endcall %}
    </form>
{% endblock %}
