{% extends 'patient/base.html' %}

{% set current_patient_page = 'renal_imaging' %}
{% set title = 'Renal Imaging' %}

{% block content %}
    <h1 class="page-header">Renal Imaging</h1>

    {% if patient.can_edit(current_user) %}
        <p>
            <a href="{{ url_for('renal_imaging.add_renal_imaging', patient_id=patient.id) }}" class="btn btn-primary">New</a>
        </p>
    {% endif %}

    {% if objects %}
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Imaging Type</th>
                    <th></th>
                </tr>

            </thead>

            <tbody>
                {% for x in objects %}
                    <tr>
                        <td>
                            <div class="btn-group">
                                {% if x.can_view(current_user) %}
                                    <a href="{{ url_for('renal_imaging.view_renal_imaging', patient_id=patient.id, renal_imaging_id=x.id) }}" class="btn btn-default btn-xs">View</a>
                                {% endif %}

                                {% if x.can_edit(current_user) %}
                                    <a href="{{ url_for('renal_imaging.edit_renal_imaging', patient_id=patient.id, renal_imaging_id=x.id) }}" class="btn btn-default btn-xs btn-primary">Edit</a>
                                {% endif %}
                            </div>
                        </td>

                        <td>{{ x.date | date_format }}</td>
                        <td>{{ x.imaging_type }}</td>

                        <td align="right">
                            {% if x.can_edit(current_user) %}
                                <form method="POST" action="{{ url_for('renal_imaging.delete_renal_imaging', patient_id=patient.id, renal_imaging_id=x.id) }}" class="form-inline confirm-delete">
                                    {{ delete_form.hidden_tag() }}

                                    <button type="submit" class="btn btn-link btn-xs">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No renal imaging results.</p>
    {% endif %}
{% endblock %}
