{% extends 'patient/base.html' %}

{% set current_patient_page = 'transplants' %}
{% set title = "Transplants" %}

{% block content %}
    <h1 class="page-header">Transplants</h1>

    {% if object %}
        {% include "patient/_transplant.html" %}
    {% endif %}

    {% if patient.can_edit(current_user) %}
        <p><a href="{{ url_for('transplants.add_transplant', patient_id=patient.id) }}" class="btn btn-primary">New</a></p>
    {% endif %}

    {% include "patient/_transplant_list.html" %}
{% endblock %}
