{% extends 'simple.html' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/forms.html' import render_form_errors %}
{% from 'macros/panels.html' import render_panel %}

{% set current_page = 'account' %}
{% set title = 'Account' %}

{% block content %}
    <h1 class="page-header">Account</h1>

    <table class="table kv">
        <tr>
            <th width="20%">Username</th>
            <td>{{ current_user.username }}</td>
        </tr>

        <tr>
            <th width="20%">Email</th>
            <td>{{ current_user.email }}</td>
        </tr>

        <tr>
            <th width="20%">First Name</th>
            <td>{{ current_user.first_name | missing }}</td>
        </tr>

        <tr>
            <th width="20%">Last Name</th>
            <td>{{ current_user.last_name | missing }}</td>
        </tr>

        <tr>
            <th width="20%">Registered</th>
            <td>{{ current_user.created_date | date_format | missing }}</td>
        </tr>

        {% if current_user.is_admin %}
            <tr>
                <th>Admin</th>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
        {% endif %}
    </table>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">User Details</h3>
        </div>

        <div class="panel-body">
            {{ render_form_errors(account_form) }}

            <form method="POST">
                {{ account_form.hidden_tag() }}

                {{ render_field(account_form.first_name) }}
                {{ render_field(account_form.last_name) }}

                <button type="submit" class="btn btn-success" name="account-submit">Save</button>
            </form>
        </div>
    </div>

    <div id="change-email" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change Email</h3>
        </div>

        <div class="panel-body">
            {{ render_form_errors(change_email_form) }}

            <form method="POST">
                {{ change_email_form.hidden_tag() }}

                {{ render_field(change_email_form.password) }}
                {{ render_field(change_email_form.new_email) }}
                {{ render_field(change_email_form.new_email_confirm) }}

                <button type="submit" class="btn btn-success" name="change-email-submit">Save</button>
            </form>
        </div>
    </div>

    <div id="change-password" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change Password</h3>
        </div>

        <div class="panel-body">
            {{ render_form_errors(change_password_form) }}

            <form method="POST">
                {{ change_password_form.hidden_tag() }}

                {{ render_field(change_password_form.password) }}
                {{ render_field(change_password_form.new_password) }}
                {{ render_field(change_password_form.new_password_confirm) }}

                <button type="submit" class="btn btn-success" name="change-password-submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}