{% extends 'simple.html' %}

{% set title = 'Change Password' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/forms.html' import render_form_errors %}

{% block content %}
    <h1 class="page-header">Change Password</h1>

    {{ render_form_errors(form) }}

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ render_field(form.password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.new_password_confirm) }}

        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}