{% extends 'simple.html' %}

{% set current_unit = unit %}
{% set title = unit.name %}

{% from 'macros/news.html' import render_latest_news %}

{% block content %}
    <h1 class="page-header">{{ unit.name }}</h1>

    <ul class="nav radar-tabs">
        <li class="active"><a href="{{ url_for('patients.view_patient_list', unit_id=unit.id) }}">{{ unit.name }}</a></li>

        {% if unit_user.has_view_patient_permission %}
            <li><a href="{{ url_for('patients.view_patient_list', unit_id=unit.id) }}">Patients</a></li>
        {% endif %}

        {% if unit_user.has_view_user_permission %}
            <li><a href="{{ url_for('users.view_user_list', unit_id=unit.id) }}">Users</a></li>
        {% endif %}

        {% if unit_user.has_recruit_patient_permission %}
            <li><a href="{{ url_for('recruitment.recruit_patient') }}">Recruit a Patient</a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h2>New Patients</h2>

            <div id="new_patients" style="width:100%; height:400px;">
                <img src="/static/img/spinner.gif" />
            </div>
        </div>

        <div class="col-md-6">
            <h2>Total Patients</h2>

            <div id="total_patients" style="width:100%; height:400px;">
                <img src="/static/img/spinner.gif" />
            </div>
        </div>
    </div>

    {{ render_latest_news(posts) }}
{% endblock %}

{% block body_js %}
    <script src="/static/js/recruitment.js"></script>
    <script src="/static/js/unit.js"></script>
{% endblock %}
