{% from 'macros/panels.html' import render_panel %}

{% macro render_field_group(field) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro render_field_errors(field) %}
    {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
{% endmacro %}

{% macro render_field(field, read_only=False) %}
    {% call render_field_group(field) %}
        {{ field.label }}

        {% if field.type == 'RadarYesNoField' %}
            {{ field(disabled=read_only) }}
        {% else %}
            {{ field(class='form-control', disabled=read_only) }}
        {% endif %}

        {{ render_field_errors(field) }}
    {% endcall %}
{% endmacro %}

{% macro render_horizontal_field(field, read_only=False) %}
    {% call render_field_group(field) %}
        {{ field.label(class='col-sm-4 control-label') }}

        <div class="col-sm-8">
            {% if field.type == 'RadarYesNoField' %}
                {{ field(disabled=read_only) }}
            {% else %}
                {{ field(class='form-control', disabled=read_only) }}
            {% endif %}

            {{ render_field_errors(field) }}
        </div>
    {% endcall %}
{% endmacro %}

{% macro render_horizontal_field_read_only(field) %}
    {{ render_horizontal_field(field, read_only=True) }}
{% endmacro %}

{% macro render_field_read_only(field) %}
    {{ render_field(field, read_only=True) }}
{% endmacro %}

{% macro render_form_errors(form) %}
    {% if form.errors %}
        {% call render_panel('Error', 'panel-danger') %}
            Please correct the errors below and try again.
        {% endcall %}
    {% endif %}
{% endmacro %}

{% macro render_horizontal_button() %}
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro render_button() %}
    {{ caller() }}
{% endmacro %}