{% macro render_pagination(pagination) %}
    {% if pagination.per_page > 0 and pagination.pages > 1 %}
        <ul class="pagination">
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <li class="active"><a href="{{ url_for_page(page) }}">{{page}} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="{{ url_for_page(page) }}">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><span>...</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}