<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties">
      <tr>
        <th>Group</th>
        <td>{{item.group.name}}</td>
      </tr>

      <tr>
        <th>Role</th>
        <td>{{item.role.label}}</td>
      </tr>
    </table>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Group</div>

        <div frm-control>
          <div frm-group-field model="item.group" required="true"></div>
          <div frm-errors errors="item.errors.group"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Role</div>

        <div frm-control>
          <div frm-select-field model="item.role" options="roles" required="true"></div>
          <div frm-errors errors="item.errors.role"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" sort-by="group.shortName">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table" ng-if="page.getCount()">
      <thead>
      <tr>
        <th></th>
        <th sort-helper="group.shortName">Group</th>
        <th sort-helper="role.label">Role</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="item in page.getItems()">
        <td>
          <span crud-list-view-button item="item"></span>
          <span crud-list-edit-button item="item"></span>
        </td>

        <td>{{item.group.shortName}}</td>
        <td>{{item.role.label}}</td>

        <td>
          <span crud-list-remove-button item="item"></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
