<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties">
      <tr>
        <th>ID</th>
        <td>{{item.id}}</td>
      </tr>

      <tr>
        <th>Source</th>
        <td>{{item.getSource()}}</td>
      </tr>

      <tr>
        <th>Disorder</th>
        <td>{{item.disorder.name}}</td>
      </tr>

      <tr>
        <th>From Date</th>
        <td>{{item.fromDate | dateFormat}}</td>
      </tr>

      <tr>
        <th>To Date</th>
        <td>{{item.toDate | dateFormat}}</td>
      </tr>
    </table>

    <div item-meta item="item"></div>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-list-button></span>
      <span crud-view-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Source</div>

        <div frm-control>
          <div frm-source-group-field patient="patient" model="item.sourceGroup" required="true"></div>
          <div frm-errors errors="item.errors.sourceGroup"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Disorder</div>

        <div frm-control>
          <div frm-select-field model="item.disorder" required="true" options="disorders" options-label="name"></div>
          <div frm-errors errors="item.errors.disorder"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>From Date</div>

        <div frm-control>
          <div frm-date-field model="item.fromDate" required="true"></div>
          <div frm-errors errors="item.errors.fromDate"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>To Date</div>

        <div frm-control>
          <div frm-date-field model="item.toDate"></div>
          <div frm-errors errors="item.errors.toDate"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" per-page="10" sort-by="fromDate" reverse="true">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table table-condensed table-striped" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="disorder.name">Disorder</th>
          <th sort-helper="fromDate">From Date</th>
          <th sort-helper="toDate">To Date</th>
          <th sort-helper="getSource()">Source</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.disorder.name}}</td>
          <td>{{item.fromDate | dateFormat}}</td>
          <td>{{item.toDate | dateFormat}}</td>
          <td class="source">{{item.getSource()}}</td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
