<div class="overlay">
  <div class="overlay-inner">
    <div class="fatal-error">
      <div class="fatal-error-inner">
        <div class="fatal-error-heading">Error</div>
        <div class="fatal-error-body">Body</div>
        <div class="fatal-error-footer">
          <button class="btn btn-default" type="button" ng-click="close()">Close</button>
          <button class="btn btn-primary" type="button" ng-click="reload()">Reload</button>
        </div>
      </div>
    </div>
  </div>
</div>
