<div ng-show="loading">
  <p>Loading...</p>
</div>

<div ng-show="!loading && viewing">
  <p ng-show="editEnabled()"><button ng-click="edit()">Edit</button></p>
  <pre>{{item | json}}</pre>
  <p ng-show="removeEnabled()"><button ng-click="remove()">Delete</button></p>
</div>

<div ng-show="!loading && editing">
  <p ng-show="viewEnabled()"><button ng-click="view()">View</button></p>
  <p><input class="form-control" ng-model="item.fromDate" /></p>
  <p><input class="form-control" ng-model="item.toDate" /></p>
  <p ng-show="saveEnabled()"><button ng-click="saveAndView()">Save</button></p>
  <p ng-show="viewEnabled()"><button ng-click="view()">Cancel</button></p>
  <p ng-show="removeEnabled()"><button ng-click="remove()">Delete</button></p>
</div>
