<div loading="loading" crud>
  <div ng-if="viewing">
    <p>
      <span crud-list-button></span>
      <span crud-edit-button item="item"></span>
    </p>

    <table class="table properties" ng-if="item">
      <tr>
        <th>ID</th>
        <td>{{item.id}}</td>
      </tr>

      <tr>
        <th>Date Sample Sent</th>
        <td>{{item.dateSent | dateFormat}}</td>
      </tr>

      <tr>
        <th>Laboratory</th>
        <td>{{item.laboratory | missing}}</td>
      </tr>

      <tr>
        <th>Reference Number</th>
        <td>{{item.referenceNumber | missing}}</td>
      </tr>

      <tr>
        <th>Karyotype</th>
        <td>{{item.karyotype.label | missing}}</td>
      </tr>

      <tr>
        <th>Results</th>
        <td class="newlines">{{item.results | missing}}</td>
      </tr>

      <tr>
        <th>Summary</th>
        <td class="newlines">{{item.summary | missing}}</td>
      </tr>
    </table>

    <div ng-if="item" item-meta item="item"></div>

    <p ng-if="!item">Not entered.</p>
  </div>

  <div ng-if="editing">
    <p>
      <span crud-view-button item="originalItem"></span>
      <span crud-remove-button item="originalItem"></span>
    </p>

    <form class="form-horizontal form-container" crud-submit="saveAndView()" novalidate>
      <div frm-field frm-group>
        <div frm-label>Date Sample Sent</div>

        <div frm-control>
          <div frm-date-field model="item.dateSent" required="true"></div>
          <div frm-errors errors="item.errors.dateSent"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Laboratory</div>

        <div frm-control>
          <div frm-text-field model="item.laboratory"></div>
          <div frm-errors errors="item.errors.laboratory"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Reference Number</div>

        <div frm-control>
          <div frm-text-field model="item.referenceNumber"></div>
          <div frm-errors errors="item.errors.referenceNumber"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Karyotype</div>

        <div frm-control>
          <div frm-select-field model="item.karyotype" options="karyotypes"></div>
          <div frm-errors errors="item.errors.karyotype"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Results</div>

        <div frm-control>
          <div frm-textarea-field model="item.results" rows="10"></div>
          <div frm-errors errors="item.errors.results"></div>
        </div>
      </div>

      <div frm-field frm-group>
        <div frm-label>Summary</div>

        <div frm-control>
          <div frm-textarea-field model="item.summary" rows="10"></div>
          <div frm-errors errors="item.errors.summary"></div>
        </div>
      </div>

      <div frm-buttons>
        <span crud-save-button></span>
        <span crud-cancel-list-button></span>
      </div>
    </form>
  </div>

  <div ng-if="!viewing && !editing" list-helper="items as page" per-page="10" sort-by="dateSent" reverse="true">
    <p>
      <span crud-create-button action="create()"></span>
    </p>

    <div filter-helper></div>

    <div ng-show="!page.getCount()">
      <p>No results.</p>
    </div>

    <table class="table table-condensed table-striped" ng-if="page.getCount()">
      <thead>
        <tr>
          <th></th>
          <th sort-helper="dateSent">Date Sample Sent</th>
          <th sort-helper="karyotype.label">Karyotype</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in page.getItems()">
          <td>
            <span crud-list-view-button item="item"></span>
            <span crud-list-edit-button item="item"></span>
          </td>

          <td>{{item.dateSent | dateFormat}}</td>
          <td>{{item.karyotype.label | missing}}</td>

          <td>
            <span crud-list-remove-button item="item"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <div pagination-helper></div>
  </div>
</div>
