import multiprocessing

pidfile = '{{ api_dev_pid_path }}'
bind = '0.0.0.0:5001'
workers = multiprocessing.cpu_count() * 2 + 1
reload = True
enable_stdio_inheritance = True
errorlog = '-'
accesslog = '-'
