<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RaDaR</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.css">
        <link rel="stylesheet" href="/static/css/chosen.min.css">

        <!--[if lt IE 9]>
            <script src="/static/js/libs/html5shiv.js"></script>
            <script src="/static/js/libs/respond.src.js"></script>
        <![endif]-->
    </head>

    <body>
        {% include 'navigation.html' %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p>&copy; <a href="http://www.renalreg.org">UK Renal Registry</a>, <a href="http://www.renal.org">The Renal Association</a></p>
        </div>

        <script src="/static/js/libs/jquery.js"></script>
        <script src="/static/js/libs/bootstrap.js"></script>
        <script src="/static/js/libs/jquery-ui.js"></script>
        <script src="/static/js/libs/chosen.jquery.min.js"></script>
        <script src="/static/js/libs/highcharts.js"></script>

        <script src="/static/js/app.js"></script>

        {% block body_js %}{% endblock %}
    </body>
</html>