<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>RaDaR</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.min.css">

        <!--[if lt IE 9]>
            <script src="/static/js/libs/html5shiv.min.js"></script>
            <script src="/static/js/libs/respond.src.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-static-top radar-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{{ url_for('index') }}">RaDaR</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if page == 'index' %} class="active"{% endif %}>
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>

                        {% if current_user.is_authenticated() %}
                            <li{% if page == 'patients' %} class="active"{% endif %}>
                                <a href="{{ url_for('patients') }}">Patients</a>
                            </li>

                            <li{% if page == 'disease_groups' %} class="active"{% endif %}>
                                <a href="{{ url_for('disease_groups') }}">Disease Groups</a>
                            </li>

                            <li{% if page == 'units' %} class="active"{% endif %}>
                                <a href="{{ url_for('units') }}">Units</a>
                            </li>

                            <li{% if page == 'admin' %} class="active"{% endif %}>
                                <a href="#">Admin</a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="navbar-right">
                        {% if current_user.is_authenticated() %}
                            <p class="navbar-text">Logged in as {{ current_user.username }}</p>

                            <ul class="nav navbar-nav">
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav">
                                <li{% if page == 'login' %} class="active"{% endif %}>
                                    <a href="{{ url_for('login') }}">Login</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p>&copy; <a href="http://www.renalreg.org">UK Renal Registry</a>, <a href="http://www.renal.org">The Renal Association</a></p>
        </div>

        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/bootstrap.min.js"></script>
        <script src="/static/js/libs/jquery-ui.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>