{% extends 'simple.html' %}

{% set current_disease_group = disease_group %}

{% block content %}
    <h1>{{ disease_group.name }}</h1>

    <ul class="nav patient-tabs">
        <li class="active"><a href="{{ url_for('patients.view_patient_list', disease_group_id=disease_group.id) }}">{{ disease_group.name }}</a></li>

        {% if disease_group_user.has_view_patient_permission %}
            <li><a href="{{ url_for('patients.view_patient_list', disease_group_id=disease_group.id) }}">Patients</a></li>
        {% endif %}

        {% if disease_group_user.has_view_user_permission %}
            <li><a href="{{ url_for('users.view_user_list', disease_group_id=disease_group.id) }}">Users</a></li>
        {% endif %}
    </ul>
{% endblock %}