{% extends 'simple.html' %}

{% set current_disease_group = disease_group %}

{% from 'macros/news.html' import render_latest_news %}

{% block content %}
    <h1 class="page-header">{{ disease_group.name }}</h1>

    <ul class="nav radar-tabs">
        <li class="active"><a href="{{ url_for('patients.view_patient_list', disease_group_id=disease_group.id) }}">{{ disease_group.name }}</a></li>

        {% if disease_group_user.has_view_patient_permission %}
            <li><a href="{{ url_for('patients.view_patient_list', disease_group_id=disease_group.id) }}">Patients</a></li>
        {% endif %}

        {% if disease_group_user.has_view_user_permission %}
            <li><a href="{{ url_for('users.view_user_list', disease_group_id=disease_group.id) }}">Users</a></li>
        {% endif %}
    </ul>

    <div class="row">
        <div class="col-md-6">
            <h2>New Patients</h2>

            <div id="new_patients" style="width:100%; height:400px;">
                <img src="/static/img/spinner.gif" />
            </div>
        </div>

        <div class="col-md-6">
            <h2>Total Patients</h2>

            <div id="total_patients" style="width:100%; height:400px;">
                <img src="/static/img/spinner.gif" />
            </div>
        </div>
    </div>

    {{ render_latest_news(posts) }}
{% endblock %}

{% block body_js %}
    <script src="/static/js/recruitment.js"></script>

    <script>
        $(function () {
            load_recruitment_graph('recruitment.json', 'new_patients', 'New Patients by Month');
            load_recruitment_graph('recruitment.json?cumulative=1', 'total_patients', 'Total Patients by Month');
        });
    </script>
{% endblock %}