{% extends 'simple.html' %}

{% from 'macros/forms.html' import render_field, render_field_group, render_field_errors %}

{% set current_page = 'login' %}

{% block content %}
    <h1 class="page-header">Login</h1>

    {% if login_failed %}
        <div class="alert alert-danger">
            <strong>Login Failed!</strong> Incorrect username or password.
        </div>
    {% endif %}

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ render_field(form.username) }}

        {% call render_field_group(form.password) %}
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
            {{ render_field_errors(form.password) }}
            <span class="help-block"><a href="#">Forgotten your password?</a></span>
        {% endcall %}

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}