{% extends 'base.html' %}

{% set page = 'patients' %}

{% from 'utils.html' import render_pagination, render_order_by_link %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h2>Search</h2>

                {% with f = form_builder(form) %}
                    <form method="GET">
                        <div class="form-group">
                            <label for="radar_id" class="control-label">RaDaR ID</label>
                            {{ f.text_field('radar_id', attributes={'placeholder': 'RaDaR ID'}) }}
                        </div>

                        {% if demographics %}
                            <div class="form-group">
                                <label for="first_name" class="control-label">First Name</label>
                                {{ f.text_field('first_name', attributes={'placeholder': 'First Name'}) }}
                            </div>
                        {% endif %}

                        {% if demographics %}
                            <div class="form-group">
                                <label for="last_name" class="control-label">Last Name</label>
                                {{ f.text_field('last_name', attributes={'placeholder': 'Last Name'}) }}
                            </div>
                        {% endif %}

                        {% if demographics %}
                            <div class="form-group">
                                <label for="date_of_birth" class="control-label">Date of Birth</label>
                                {{ f.date_field('date_of_birth') }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="year_of_birth" class="control-label">Year of Birth</label>
                            {{ f.text_field('year_of_birth', attributes={'placeholder': 'YYYY'}) }}
                        </div>

                        <div class="form-group">
                            <label for="gender" class="control-label">Gender</label>
                            {{ f.select('gender', [('Male', 'M'), ('Female', 'F')], include_blank=True) }}
                        </div>

                        {% if demographics %}
                            <div class="form-group">
                                <label for="patient_number" class="control-label">Patient Number</label>
                                {{ f.text_field('patient_number', attributes={'placeholder': 'Patient Number'}) }}
                            </div>
                        {% endif %}

                        {% if disease_group_choices | length > 1 %}
                            <div class="form-group">
                                <label for="disease_group_id" class="control-label">Disease Group</label>
                                {{ f.select('disease_group_id', disease_group_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        {% if unit_choices | length > 1 %}
                            <div class="form-group">
                                <label for="unit_id" class="control-label">Unit</label>
                                {{ f.select('unit_id', unit_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#meta">
                                            Meta
                                        </a>
                                    </h4>
                                </div>

                                <div id="meta" class="panel-body panel-collapse collapse">
                                    <div class="form-group">
                                        <label for="order_by" class="control-label">Order By</label>
                                        {{ f.select('order_by', order_by_choices) }}
                                    </div>

                                    <div class="form-group">
                                        <label for="order_direction" class="control-label">Order Direction</label>
                                        {{ f.select('order_direction', [('Ascending', 'asc'), ('Descending', 'desc')]) }}
                                    </div>

                                    <div class="form-group">
                                        <label for="per_page" class="control-label">Patients Per Page</label>
                                        {{ f.select('per_page', per_page_choices) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="{{ url_for('patients') }}" class="btn btn-link">Reset</a>
                    </form>
                {% endwith %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                <h1>Patients <small>{{ pagination.total_count }} {% if pagination.total_count == 1 %}patient{% else %}patients{% endif %}</small></h1>

                <p><a href="#" class="btn btn-primary">Recruit Patient</a></p>

                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>{{ render_order_by_link('radar_id', 'ID', default=True) }}</th>

                            {% if demographics %}
                                <th>{{ render_order_by_link('first_name', 'First Name') }}</th>
                            {% endif %}

                            {% if demographics %}
                                <th>{{ render_order_by_link('last_name', 'Last Name') }}</th>
                            {% endif %}

                            <th>{{ render_order_by_link('date_of_birth', 'DOB') }}</th>
                            <th>{{ render_order_by_link('gender', 'Gender') }}</th>
                            <th>Disease Groups</th>

                            {% if demographics %}
                                <th>Units</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% if patients %}
                            {% for patient, patient_demographics in patients %}
                                <tr>
                                    <td><a href="{{ url_for('demographics', patient_id=patient.id) }}">{{ patient.id }}</a></td>

                                    {% if demographics %}
                                        <td>
                                            {% if patient_demographics and patient.first_name %}
                                                <a href="{{ url_for('demographics', patient_id=patient.id) }}">{{ patient.first_name }}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    {% if demographics %}
                                        <td>
                                            {% if patient_demographics and patient.last_name %}
                                                <a href="{{ url_for('demographics', patient_id=patient.id) }}">{{ patient.last_name }}</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    <td>
                                        {% if patient_demographics %}
                                            {{ patient.date_of_birth | datetime_format('%d/%m/%Y') | default('-', true) }}
                                        {% else %}
                                            {{ patient.date_of_birth | datetime_format('%Y') | default('-', true) }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% with gender = patient.gender %}
                                            {% if gender == 'M' %}
                                                M
                                            {% elif gender == 'F' %}
                                                F
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endwith %}
                                    </td>

                                    <td>
                                        <!-- TODO add links -->

                                        {% with disease_groups = filter_patient_disease_groups_for_user(patient, current_user) %}
                                            {% if disease_groups %}
                                                {% for disease_group in disease_groups %}
                                                    {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endwith %}
                                    </td>

                                    {% if demographics %}
                                        <td>
                                            <!-- TODO add links -->

                                            {% with units = filter_patient_units_for_user(patient, current_user) %}
                                                {% if units %}
                                                    {% for unit in filter_patient_units_for_user(patient, current_user) %}
                                                        {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="{% if demographics %}7{% else %}4{% endif %}">No patients found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                {{ render_pagination(pagination) }}

                <p>
                    <strong>Per Page:</strong>

                    {% for label, value in per_page_choices %}
                        {% if pagination.per_page == value %}
                            <a href="{{ url_for_per_page(value) }}"><strong>{{ label }}</strong></a>{% if not loop.last %},{% endif %}
                        {% else %}
                            <a href="{{ url_for_per_page(value) }}">{{ label }}</a>{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}