{% extends 'simple-base.html' %}

{% set page = 'patients' %}

{% block content %}
    <h1>Patients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>

        <tbody>
            {% for patient in patients %}
                <tr>
                    <td><a href="{{ url_for('demographics', patient_id=patient.id) }}">{{ patient.id }}</a></td>
                    <td>{{ patient.first_name }}</td>
                    <td>{{ patient.last_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}