{% extends 'base.html' %}

{% set page = 'patients' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h2>Search</h2>

                {% with f = form_builder(form) %}
                    <form method="GET">
                        <div class="form-group">
                            <label for="first_name" class="control-label">First Name</label>
                            {{ f.text_field('first_name', attributes={'placeholder': 'First Name'}) }}
                        </div>

                        <div class="form-group">
                            <label for="last_name" class="control-label">Last Name</label>
                            {{ f.text_field('last_name', attributes={'placeholder': 'Last Name'}) }}
                        </div>

                        <div class="form-group">
                            <label for="date_of_birth" class="control-label">Date of Birth</label>
                            {{ f.date_field('date_of_birth') }}
                        </div>

                        <div class="form-group">
                            <label for="gender" class="control-label">Gender</label>
                            {{ f.text_field('gender') }}
                        </div>

                        <div class="form-group">
                            <label for="identifier" class="control-label">Identifier</label>
                            {{ f.text_field('identifier') }}
                        </div>

                        {% if disease_group_choices %}
                            <div class="form-group">
                                <label for="disease_group_id" class="control-label">Disease Group</label>
                                {{ f.select('disease_group_id', disease_group_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        {% if unit_choices %}
                            <div class="form-group">
                                <label for="unit_id" class="control-label">Unit</label>
                                {{ f.select('unit_id', unit_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                {% endwith %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                <h1>Patients</h1>

                <p><a href="#" class="btn btn-primary">Recruit Patient</a></p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Disease Groups</th>
                            <th>Units</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for patient in patients %}
                            <tr>
                                <td><a href="{{ url_for('demographics', patient_id=patient.id) }}">{{ patient.id }}</a></td>
                                <td>{{ patient.first_name }}</td>
                                <td>{{ patient.last_name }}</td>
                                <td>{{ patient.date_of_birth | datetime_format('%d/%m/%Y') }}</td>

                                <td>
                                    {% for disease_group in filter_patient_disease_groups_for_user(patient, current_user) %}
                                        {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for unit in filter_patient_units_for_user(patient, current_user) %}
                                        {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}