{% extends 'base.html' %}

{% block body %}
    <div class="block">
        <h1>{{ user.username }}</h1>
    </div>

    <div class="block">
        <h2>Disease Groups</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Disease Group</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for disease_group in user.disease_groups %}
                    <tr>
                        <td>{{ disease_group.disease_group.name }}</td>
                        <td align="right">
                            <form method="POST" action="{{ url_for('user_disease_groups', user_id=user.id) }}" class="form-inline">
                                <input type="hidden" name="delete" />
                                <input type="hidden" name="disease_group_id" value="{{ disease_group.disease_group.id }}" />

                                <button type="submit" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Manage Disease Groups</h3>

        {% with f = form_builder(disease_group_form) %}
            <form method="POST" action="{{ url_for('user_disease_groups', user_id=user.id) }}">
                <div class="form-group">
                    <label for="disease_group_id" class="control-label">Disease Group</label>
                    {{ f.select('disease_group_id', disease_group_choices, include_blank=True) }}
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        {% endwith %}
    </div>

    <div class="block">
        <h2>Units</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for unit in user.units %}
                    <tr>
                        <td>{{ unit.unit.name }}</td>
                        <td align="right">
                            <form method="POST" action="{{ url_for('user_units', user_id=user.id) }}" class="form-inline">
                                <input type="hidden" name="delete" />
                                <input type="hidden" name="unit_id" value="{{ unit.unit.id }}" />

                                <button type="submit" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Manage Units</h3>

        {% with f = form_builder(unit_form) %}
            <form method="POST" action="{{ url_for('user_units', user_id=user.id) }}">
                <div class="form-group">
                    <label for="unit_id" class="control-label">Disease Group</label>
                    {{ f.select('unit_id', unit_choices, include_blank=True) }}
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        {% endwith %}
    </div>
{% endblock %}