{% extends 'base.html' %}

{% set current_page = 'users' %}

{% from 'macros/forms.html' import render_field %}
{% from 'macros/pagination.html' import render_pagination %}
{% from 'macros/ordering.html' import render_sortable_column %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h2>Search</h2>

                <form method="GET">
                    {{ render_field(form.username) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.first_name) }}
                    {{ render_field(form.last_name) }}

                    {% if disease_groups %}
                        {{ render_field(form.disease_group_id) }}
                    {% endif %}

                    {% if units %}
                        {{ render_field(form.unit_id) }}
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                <h1 class="page-header">Users <small>{{ pagination.total }} {% if pagination.total == 1 %}user{% else %}users{% endif %}</small></h1>

                {% if current_user.has_add_user_permission %}
                    <p><a href="{{ url_for('users.add_user') }}" class="btn btn-primary">Add User</a></p>
                {% endif %}

                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>{{ render_sortable_column(ordering, 'id', 'ID') }}</th>
                            <th>{{ render_sortable_column(ordering, 'username', 'Username') }}</th>
                            <th>{{ render_sortable_column(ordering, 'email', 'Email') }}</th>
                            <th>{{ render_sortable_column(ordering, 'first_name', 'First Name') }}</th>
                            <th>{{ render_sortable_column(ordering, 'last_name', 'Last Name') }}</th>
                            <th>Disease Groups</th>
                            <th>Units</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user, user_data in users %}
                            <tr>
                                <td><a href="{{ url_for('users.view_user', user_id=user.id) }}">{{ user.id }}</a></td>
                                <td><a href="{{ url_for('users.view_user', user_id=user.id) }}">{{ user.username }}</a></td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>

                                <td>
                                    {% if user_data.disease_groups %}
                                        {% for disease_group in user_data.disease_groups %}
                                            {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>

                                <td>
                                    {% if user_data.units %}
                                        {% for unit in user_data.units %}
                                            {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ render_pagination(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}