{% extends 'base.html' %}

{% set current_page = 'users' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h2>Search</h2>

                {% with f = form_builder(form) %}
                    <form method="GET">
                        <div class="form-group">
                            <label for="username" class="control-label">Username</label>
                            {{ f.text_field('username', attributes={'placeholder': 'Username'}) }}
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            {{ f.text_field('email', attributes={'placeholder': 'Email'}) }}
                        </div>

                        {% if disease_group_choices %}
                            <div class="form-group">
                                <label for="disease_group_id" class="control-label">Disease Group</label>
                                {{ f.select('disease_group_id', disease_group_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        {% if unit_choices %}
                            <div class="form-group">
                                <label for="unit_id" class="control-label">Unit</label>
                                {{ f.select('unit_id', unit_choices, include_blank=True) }}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                {% endwith %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                <h1>Users</h1>

                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Disease Groups</th>
                            <th>Units</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td><a href="{{ url_for('user', user_id=user.id) }}">{{ user.id }}</a></td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>

                                <td>
                                    {% for disease_group in filter_user_disease_groups_for_user(user, current_user) %}
                                        {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for unit in filter_user_units_for_user(user, current_user) %}
                                        {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}