{% macro render_order_by_link(order_by, header, default=False) %}
    {% if current_order_by() == order_by or (default and not current_order_by()) %}
        {% if current_order_direction() == 'asc' %}
            <a href="{{ url_for_order_by(order_by, 'desc') }}">{{ header }}</a> <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        {% else %}
            <a href="{{ url_for_order_by(order_by, 'asc') }}">{{ header }}</a> <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
        {% endif %}
    {% else %}
        <a href="{{ url_for_order_by(order_by, 'asc') }}">{{ header }}</a>
    {% endif %}
{% endmacro %}

{% macro render_pagination(pagination) %}
    {% if pagination.per_page > 0 and pagination.pages > 1 %}
        <ul class="pagination">
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <li class="active"><a href="{{ url_for_page(page) }}">{{page}} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="{{ url_for_page(page) }}">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><span>...</span></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}