<h1 class="page-header">Demographics</h1>

<div patient-demographics-component patient="patient"></div>

<div ng-if="showDemographics">
  <h2 class="page-header">Patient Numbers</h2>

  <div patient-numbers-component patient="patient"></div>
</div>

<div ng-if="showDemographics">
  <h2 class="page-header">Aliases</h2>

  <div patient-aliases-component patient="patient"></div>
</div>

<h2 class="page-header">Addresses</h2>

<div patient-addresses-component patient="patient"></div>

<h2 class="page-header">Metadata</h2>

<div patient-metadata-component patient="patient"></div>

<p ng-if="user.isAdmin"><a ui-sref="patient.delete({patientId: patient.id})" class="delete-patient">Delete Patient</a></p>
