{% extends 'base.html' %}

{% from 'macros/flash.html' import render_flashed_messages %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h1 class="patient-name">
                    <a href="{{ url_for('patients.view_demographics_list', patient_id=patient.id) }}">
                        {% if patient.can_view_demographics(current_user) and (patient.first_name or patient.last_name) %}
                            {{ patient.first_name }} {{ patient.last_name }}
                        {% else %}
                            Patient {{ patient.id }}
                        {% endif %}
                    </a>
                </h1>

                <ul class="patient-info">
                    <li><strong>ID:</strong> {{ patient.id }}</li>

                    <li>
                        <strong>DOB:</strong>

                        {% if patient.can_view_demographics(current_user) %}
                            {{ patient.date_of_birth | date_format | default('-', true) }}
                        {% else %}
                            {{ patient.date_of_birth | datetime_format('%Y') | default('-', true) }}
                        {% endif %}
                    </li>

                    <li>
                        <strong>Gender:</strong>

                        {% with gender = patient.gender %}
                            {% if gender == 'M' %}
                                Male
                            {% elif gender == 'F' %}
                                Female
                            {% else %}
                                -
                            {% endif %}
                        {% endwith %}
                    </li>

                    {% if patient_data.disease_groups %}
                        <li>
                            <strong>Disease Groups:</strong>

                            {% for disease_group in patient_data.disease_groups %}
                                {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}

                    {% if patient_data.units %}
                        <li>
                            <strong>Units:</strong>

                            {% for unit in patient_data.units %}
                                {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav patient-nav">
                    <li{% if current_patient_page == 'demographics' %} class="active"{% endif %}>
                        <a href="{{ url_for('patients.view_demographics_list', patient_id=patient.id) }}">Demographics</a>
                    </li>

                    <li{% if current_patient_page == 'lab_results' %} class="active"{% endif %}>
                        <a href="{{ url_for('lab_results.view_lab_result_list', patient_id=patient.id) }}">Lab Results</a>
                    </li>

                    <li{% if current_patient_page == 'medications' %} class="active"{% endif %}>
                        <a href="{{ url_for('medications.view_medication_list', patient_id=patient.id) }}">Medications</a>
                    </li>

                    <li>
                        <a href="#">Hospitalisation</a>
                    </li>

                    <li>
                        <a href="#">Pathology</a>
                    </li>

                    <li>
                        <a href="#">Transplants</a>
                    </li>

                    <li>
                        <a href="#">Genetics</a>
                    </li>
                </ul>

                {% for disease_group in patient_data.disease_groups %}
                    <h4>{{ disease_group.disease_group.name }}</h4>

                    <ul class="nav patient-nav">
                        {% if disease_group.disease_group.has_feature('DIAGNOSIS') %}
                            <li{% if current_patient_page == 'diagnosis' and disease_group.disease_group.id == disease_group_id %} class="active"{% endif %}>
                                <a href="{{ url_for('diagnosis.view_diagnosis', patient_id=patient.id, disease_group_id=disease_group.disease_group.id) }}">Diagnosis</a>
                            </li>
                        {% endif %}

                        {% if disease_group.disease_group.has_feature('RENAL_IMAGING') %}
                            <li{% if current_patient_page == 'renal_imaging' %} class="active"{% endif %}>
                                <a href="#">Renal Imaging</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endfor %}

                <h4>Groups</h4>

                <ul class="nav patient-nav">
                    <li{% if current_patient_page == 'disease_groups' %} class="active"{% endif %}>
                        <a href="{{ url_for('patients.view_patient_disease_groups', patient_id=patient.id) }}">Disease Groups</a>
                    </li>

                    <li{% if current_patient_page == 'units' %} class="active"{% endif %}>
                        <a href="{{ url_for('patients.view_patient_units', patient_id=patient.id) }}">Units</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                {{ render_flashed_messages() }}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}