{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="block">
                <h1 class="patient-name">
                    <a href="{{ url_for('demographics', patient_id=patient.id) }}">
                        {% if patient_demographics %}
                            {{ patient.first_name }} {{ patient.last_name }}
                        {% else %}
                            Patient {{ patient.id }}
                        {% endif %}
                    </a>
                </h1>

                <ul class="patient-info">
                    <li><strong>ID:</strong> {{ patient.id }}</li>

                    <li>
                        <strong>DOB:</strong>

                        {% if patient_demographics %}
                            {{ patient.date_of_birth | datetime_format('%d/%m/%Y') }}
                        {% else %}
                            {{ patient.date_of_birth | datetime_format('%Y') }}
                        {% endif %}
                    </li>

                    <li>
                        <strong>Gender:</strong>

                        {% with gender = patient.gender %}
                            {% if gender == '1' %}
                                Male
                            {% elif gender == '2' %}
                                Female
                            {% else %}
                                -
                            {% endif %}
                        {% endwith %}
                    </li>

                    {% with disease_groups = filter_patient_disease_groups_for_user(patient, current_user) %}
                        {% if disease_groups %}
                            <li>
                                <a href="{{ url_for('patient_disease_groups', patient_id=patient.id) }}"><strong>Disease Groups:</strong></a>

                                {% for disease_group in disease_groups %}
                                    {{ disease_group.disease_group.name }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                    {% endwith %}

                    {% if patient_demographics %}
                        {% with units = filter_patient_units_for_user(patient, current_user) %}
                            {% if units %}
                                <li>
                                    <a href="{{ url_for('patient_units', patient_id=patient.id) }}"><strong>Units:</strong></a>

                                    {% for unit in units %}
                                        {{ unit.unit.name }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </ul>

                <ul class="nav patient-nav">
                    <li{% if patient_page == 'demographics' %} class="active"{% endif %}>
                        <a href="{{ url_for('demographics', patient_id=patient.id) }}">Demographics</a>
                    </li>

                    <li{% if patient_page == 'lab_results' %} class="active"{% endif %}>
                        <a href="#">Lab Results</a>
                    </li>

                    <li{% if patient_page == 'medications' %} class="active"{% endif %}>
                        <a href="{{ url_for('medications.list', patient_id=patient.id) }}">Medications</a>
                    </li>

                    <li>
                        <a href="#">Hospitalisation</a>
                    </li>

                    <li>
                        <a href="#">Pathology</a>
                    </li>

                    <li>
                        <a href="#">Transplants</a>
                    </li>

                    <li>
                        <a href="#">Genetics</a>
                    </li>
                </ul>

                {% for disease_group in filter_patient_disease_groups_for_user(patient, current_user) %}
                    <h4>{{ disease_group.disease_group.name }}</h4>

                    <ul class="nav patient-nav">
                        {% if disease_group.disease_group.has_feature('DIAGNOSIS') %}
                            <li{% if patient_page == 'diagnosis' and disease_group.disease_group.id == disease_group_id %} class="active"{% endif %}>
                                <a href="{{ url_for('diagnoses.detail', patient_id=patient.id, disease_group_id=disease_group.disease_group.id) }}">Diagnosis</a>
                            </li>
                        {% endif %}

                        {% if disease_group.disease_group.has_feature('RENAL_IMAGING') %}
                            <li{% if patient_page == 'renal_imaging' %} class="active"{% endif %}>
                                <a href="#">Renal Imaging</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endfor %}

                <h4>Admin</h4>

                <ul class="nav patient-nav">
                    <li{% if patient_page == 'disease_groups' %} class="active"{% endif %}>
                        <a href="{{ url_for('patient_disease_groups', patient_id=patient.id) }}">Disease Groups</a>
                    </li>

                    <li{% if patient_page == 'units' %} class="active"{% endif %}>
                        <a href="{{ url_for('patient_units', patient_id=patient.id) }}">Units</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div class="block">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger"><strong>Error:</strong> {{ message }}</div>
                        {% elif category == 'success' %}
                            <div class="alert alert-success"><strong>Success:</strong> {{ message }}</div>
                        {% else %}
                            <div class="alert alert-info"><strong>Info:</strong> {{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}