{% extends 'patient/base.html' %}

{% set current_patient_page = 'demographics' %}

{% block content %}
    <h1>Demographics</h1>

    <p><a href="{{ url_for('patients.edit_radar_demographics', patient_id=patient.id) }}" class="btn btn-primary">Edit</a></p>

    {% for demographics in demographics_list %}
        <h3>{{ demographics.facility.name }}</h3>

        <table class="table table-striped table-condensed demographics">
            <tr>
                <th>First Name</th>
                <td width="100%">{{ demographics.first_name }}</td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td>{{ demographics.last_name }}</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}