{% extends 'patient/base.html' %}

{% set current_patient_page = 'demographics' %}

{% from 'macros/panels.html' import render_panel %}

{% block content %}
    <h1 class="page-header">Demographics</h1>

    <p><a href="{{ url_for('patients.edit_radar_demographics', patient_id=patient.id) }}" class="btn btn-primary">Edit</a></p>

    {% for demographics in demographics_list %}
        {% call render_panel(demographics.facility.name, 'panel-default') %}
            <table class="table kv">
                {% if patient.can_view_demographics(current_user) %}
                    <tr>
                        <th width="20%">First Name</th>
                        <td>{{ demographics.first_name }}</td>
                    </tr>

                    <tr>
                        <th>Last Name</th>
                        <td>{{ demographics.last_name }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th>Date of Birth</th>
                    <td>
                        {% if patient.can_view_demographics(current_user) %}
                            {{ demographics.date_of_birth | date_format | missing }}
                        {% else %}
                            {{ demographics.date_of_birth | datetime_format('%Y') | missing }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Date of Death</th>
                    <td>
                        {% if patient.can_view_demographics(current_user) %}
                            {{ demographics.date_of_death | date_format | missing }}
                        {% else %}
                            {{ demographics.date_of_death | datetime_format('%Y') | missing }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Gender</th>
                    <td>{{ demographics.gender | missing }}</td>
                </tr>
            </table>

            {% if demographics.numbers and patient.can_view_demographics(current_user) %}
                <h4>Identifiers</h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Organisation</th>
                            <th width="20%">Number</th>
                            <th>Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for number in demographics.numbers %}
                            <tr>
                                <td>{{ number.organization | missing }}</td>
                                <td>{{ number.number | missing }}</td>
                                <td>{{ number.number_type | missing }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if demographics.aliases and patient.can_view_demographics(current_user) %}
                <h4>Aliases</h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="20%">First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for alias in demographics.aliases %}
                            <tr>
                                <td>{{ alias.first_name | missing }}</td>
                                <td>{{ alias.last_name | missing }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if demographics.addresses and patient.can_view_demographics(current_user) %}
                <h4>Addresses</h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="20%">From Date</th>
                            <th width="20%">To Date</th>
                            <th>Address</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for address in demographics.addresses %}
                            <tr>
                                <td>{{ address.from_time | date_format | missing }}</td>
                                <td>{{ address.to_time | date_format | missing }}</td>
                                <td>{{ address.address | nl2br }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endcall %}
    {% endfor %}

    {% call render_panel('Meta', 'panel-default') %}
        <table class="table kv">
            <tr>
                <th width="20%">Date Recruited</th>
                <td>{{ patient.recruited_date | datetime_format('%Y-%m-%d %H:%M:%S') | missing }}</td>
            </tr>

            <tr>
                <th width="20%">Recruiting User</th>
                <td>{{ patient.recruited_user | missing }}</td>
            </tr>

            <tr>
                <th width="20%">Recruiting Unit</th>
                <td>
                    {% if patient.recruited_unit %}
                        {{ patient.recruited_unit.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th width="20%">Active</th>
                <td>
                    {% if patient.is_active %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
            </tr>
        </table>

        <p><a href="{{ url_for('patients.delete_patient', patient_id=patient.id) }}" class="btn btn-danger btn-xs">Delete Patient</a></p>
    {% endcall %}
{% endblock %}