{% extends 'patient/base.html' %}

{% set current_patient_page = 'disease_groups' %}

{% block content %}
    <h1 class="page-header">Disease Groups</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Disease Group</th>
            </tr>
        </thead>

        <tbody>
            {% for disease_group in patient_data.disease_groups %}
                <tr>
                    <td>{{ disease_group.disease_group.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}