{% extends 'patient/base.html' %}

{% set current_patient_page = 'medications' %}

{% block content %}
    <h1 class="page-header">Medications</h1>

    <p><a href="{{ url_for('medications.add_medication', patient_id=patient.id) }}" class="btn btn-primary">New</a></p>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Name</th>
                <th>Dose Quantity</th>
                <th>Dose Unit</th>
                <th>Frequency</th>
                <th>Route</th>
                <th>Source</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% if medications %}
                {% for medication in medications %}
                    <tr>
                        <td>
                            {% if medication.edit_url %}
                                <a href="{{ medication.edit_url }}" class="btn btn-primary btn-xs">Edit</a>
                            {% elif medication.view_url %}
                                <a href="{{ medication.view_url }}" class="btn btn-primary btn-xs">View</a>
                            {% endif %}
                        </td>

                        <td>{{ medication.from_date | date_format | missing }}</td>
                        <td>{{ medication.to_date | date_format | missing }}</td>
                        <td>{{ medication.name | missing }}</td>
                        <td>{{ medication.dose_quantity | missing }}</td>
                        <td>{{ medication.dose_unit | missing }}</td>
                        <td>{{ medication.frequency | missing }}</td>
                        <td>{{ medication.route | missing }}</td>
                        <td>{{ medication.source | missing }}</td>

                        <td align="right">
                            {% if medication.delete_url %}
                                <form method="POST" action="{{ medication.delete_url }}" class="form-inline confirm-delete">
                                    {{ delete_form.hidden_tag() }}

                                    <button type="submit" class="btn btn-link btn-xs">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="10">No medications.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}