{% extends 'patient/base.html' %}

{% set current_patient_page = 'medications' %}

{% if read_only %}
    {% from 'macros/forms.html' import render_horizontal_field_read_only as render_field %}
{% else %}
    {% from 'macros/forms.html' import render_horizontal_field as render_field %}
{% endif %}

{% from 'macros/forms.html' import render_form_errors %}

{% block content %}
    <h1 class="page-header">Medication</h1>

    {{ render_form_errors(form) }}

    <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ render_field(form.from_date) }}
        {{ render_field(form.to_date) }}
        {{ render_field(form.name) }}

        {% if not read_only %}
            <button type="submit" class="btn btn-success">Save</button>
        {% endif %}
    </form>
{% endblock %}