{% extends 'patient/base.html' %}

{% set current_patient_page = 'units' %}

{% block content %}
    <h1>Units</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Unit</th>
            </tr>
        </thead>

        <tbody>
            {% for unit in filter_patient_units_for_user(patient, current_user) %}
                <tr>
                    <td>{{ unit.unit.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}